/* H5 暂存箱的弹窗 */
.z_c_box{
    background: #fff;
    display: inline-block;
}
.z_c_box .act_pop_table th{
    background-color: #f2f6ff;
    color:#535456;
    font-weight: bold;
    text-align: center
}
.z_c_box .act_pop_table td{
    color: #868686;
    border: 1px solid #eeeeee
}
.z_c_box .noPackage td{
    color: #7c95b8;
}
.z_c_box .cz_td span{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
.z_c_box thead tr{
    border: 1px solid #eee;
    border-bottom:none;
}
.z_c_box .text_c{
    color: #868686;
}
/* H5 暂存箱的弹窗 */
/*�ֻ�����ʽ*/
.luban-template-46>img {
    width: 100%;
    height: 3.6rem;
}
.luban-template-46>span {
    position: absolute;
    bottom: 0.6rem;
    left: 0;
    font-size: 0.24rem;
    color: #999999;
    width: 100%;
    text-align: center;
    min-height: 0.36rem;
}
.luban-template-23>div {
    margin-top: 0.08rem;
    margin-bottom: 0.08rem;
}
.luban-template-23 p {
    line-height: .36rem;
    font-size: .24rem;
}
.luban-template-23 .color-red {
    color: red;
}
.luban-template-48 h2 {
    margin-top: 0.44rem;
}
.luban-template-48 .text1 {
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 5.6rem;
}
.luban-template-48 .img1 {
    width: 6.9rem;
    height: 3.45rem;
    margin: 0 auto;
    margin-top: 0.28rem;
}
.luban-template-48 .luban-button {
    margin-top: 0.36rem;
}
.luban-template-48 .text2 {
    margin-top: 0.12rem;
    margin-bottom: 0.46rem;
}
.luban-template-87 .text2 {
    margin-top: .14rem;
    margin-bottom: .14rem;
}
.luban-template-58 h2 {
    margin-top: 0.44rem;
}
.luban-template-58 .text1 {
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 5.6rem;
}
.luban-template-58 .template-boxs {
    width: 100%;
    margin-top: 0.26rem;
    display: flex;
    justify-content: center;
}
.luban-template-58 .template-box {
    width: 1.92rem;
    height: 2.86rem;
}
.luban-template-58 .template-box .template-box-item {
    position: relative;
}
.luban-template-58 .template-box .template-box-item .img-bg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
}
.luban-template-58 .template-box .good-text {
    display: block;
    line-height: 0.6rem;
    font-size: 0.24rem;
    color: #555555;
    height: 0.6rem;
}
.luban-template-58 .luban-button {
    margin-top: 0.1rem;
}
.luban-template-58 .text2 {
    margin-top: 0.14rem;
    margin-bottom: 0.45rem;
}
.luban-template-82 .lottery-box {
    height: 3.2rem;
}
.luban-template-82 li .luban-button {
    width: 100%;
    height: 100%;
    display: table;
    cursor: pointer;
}
.luban-template-82 li span.grey-cover {
    display: none;
    height: 100%;
}
.luban-template-82 li .luban-button .luban-text {
    color: white;
    font-size: 0.38rem;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    position: inherit;
}
.luban-template-82 .lottery-box li {
    width: 20%;
}
.luban-template-82 .lottery-box li:nth-of-type(7) {
    width: 60%;
}
.luban-template-82 h2 {
    margin-top: 0.44rem;
}
.luban-template-82 .text1 {
    margin-top: 0.2rem;
}
.luban-template-82 .luban-button {
    margin-top: 0.36rem;
}
.luban-template-82 .text2 {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}
.luban-template-28 h2 {
    margin-top: 0.4rem;
}
.luban-template-28 .rule-box {
    width: 6.95rem;
    margin: 0 auto;
    margin-top: 0.35rem;
    margin-bottom: 0.46rem;
    padding: 0.3rem 0.4rem;
    background-color: white;
    border: 0.02rem solid #cccccc;
    text-align: left;
    font-size: 0.16rem;
    line-height: 0.3rem;
}
.luban-template{margin-top:0.2rem;}
