body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure{ margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block }
ol,ul{  list-style: none }
body{ -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100% !important; -webkit-touch-callout: none; -webkit-user-select: text; -webkit-touch-callout: none;  word-break: break-all; word-wrap: break-word;width: 100%; font-size: 0.12rem;background: #171c32;overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{ font-weight: normal }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{  font-weight: inherit }
strong,i,em{ font-weight: normal;font-style: normal; }
input,select,form { vertical-align:middle; outline:none; }
img{border:none;vertical-align: top;}
a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus, [onclick] {outline: 0;  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a {-webkit-touch-callout: none; text-decoration: none; color: #666666;outline: 0; }
html,body{background: #22171a;overflow-x: hidden}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block;}
.hidden{text-indent:-9999px;font-size:0px;}

/*¹«¹²*/
/*head*/
.header{background-size: 100% 100%;width:7.5rem;height: 8.6rem;margin: 0 auto;position: relative;}
.header .logo{display: block;background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/logo.png) no-repeat;background-size:100% 100%;width:2.38rem;height:.58rem;position: absolute;top: .22rem;left:.2rem;z-index: 99;}
.links{font-size: 0;width: 6.28rem;margin: 0 auto;}
.links a{width: 3rem;height: .88rem;display: inline-block;}

.login{ display: block; width: 100%; text-align: center; font-size: .18rem;color: #ffbe22;z-index: 99; }  
.login a{color: #ffbe22;}

/*cont3*/

.title3{background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/title3.png) no-repeat;background-size: 100% 100%;width:5.6rem;height: .84rem;margin: 0 auto .24rem;}
.video{width:6.94rem;height: 3.94rem;margin: 0 auto;position: relative;}
.cont-video{width:6.94rem;height: 3.94rem;margin: 0 auto;}
.btn-player{background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/btn-player.png) no-repeat;background-size: 100% 100%;width:6.94rem;height: 3.94rem;position: absolute;top:0;left: 0;}




.title4{background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/title4.png) no-repeat;background-size: 100% 100%;width:5.6rem;height: .84rem;margin: 0 auto;}
.swiper-wrapper li img{width: 7.5rem;height: 7.5rem;}
.swiper-button-prev{background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/btn-prev.png) no-repeat;background-size: 100% 100%;width:.42rem;height: .82rem;margin-top: -.7rem;}
.swiper-button-next{background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/btn-next.png) no-repeat;background-size: 100% 100%;width:.42rem;height: .82rem;margin-top: -1.7rem;}


/*µ¯´°*/
.dialog{position: relative;}
.dialog .dia-close{background: url(//game.gtimg.cn/images/wpzs/cp/a20191018twins/tc-close.png) no-repeat;background-size: 100% 100%;width: .9rem;height: .9rem;position: absolute;bottom: 0;left: 2rem;}


