body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure{ margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block }
ol,ul{  list-style: none }
body{ -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100% !important; -webkit-touch-callout: none; -webkit-user-select: text; -webkit-touch-callout: none;  word-break: break-all; word-wrap: break-word;width: 100%; font-size: 0.12rem;background: #171c32;overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{ font-weight: normal }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{  font-weight: inherit }
strong,i,em{ font-weight: normal;font-style: normal; }
input,select,form { vertical-align:middle; outline:none; }
img{border:none;vertical-align: top;}
a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus, [onclick] {outline: 0;  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a {-webkit-touch-callout: none; text-decoration: none; color: #666666;outline: 0; }
html,body{background: #dad3e4;overflow-x: hidden;width: 100%;}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block;}
.hidden{text-indent:-9999px;font-size:0px;}

/*清除浮动代码*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
/* footer */
#afooter{text-align:center; line-height:.20rem;color: #c4a4c1;padding: .2rem 0; position: relative; z-index: 2; margin-top: 0;font-size: .2rem;}
#afooter a{ color: #c4a4c1;}
#loginStatusSyncFrame_ams_ame{ display: none;}

html {
    font-size: 50px;/* 兼容不支持vw的系统 */
    font-size: 13.33333333vw;/* 7.5rem === 100vw */
  }

/* 页面 */
.wrap {position: relative; width: 100%; margin: 0 auto; overflow: hidden;}
.header {background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/bg1.jpg) no-repeat center top; background-size: 13.34rem auto; width: 13.34rem;height: 10.9rem; overflow: hidden; position: relative; margin: 0 auto;}
.content {background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/bg2.jpg) no-repeat center top; background-size: 13.34rem auto; width: 13.34rem;height: 40rem;overflow: hidden; position: relative; margin: 0 auto;}
.head,.cont1,.cont2,.cont3{width: 12.04rem;margin: 0 auto;position: relative;}
.head{height: 10.9rem;}
.cont1{height: 9.1rem;padding-top: 0.5rem;font-size: 0;}
.cont2{height: 17.8rem;}
.cont3{height: auto;}

/* header */
.logo {position: absolute; top: 0.2rem; left: .3rem; display: block; width: 1.94rem; height: 0.52rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/logo.png) no-repeat center top; background-size: 100% auto; font-size: 0;pointer-events: none; cursor: initial;}
.logo2 {position: absolute; top: 0.2rem; right: 1.12rem; display: block; width: 1.14rem; height: 0.44rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/logo2.png) no-repeat center top; background-size: 100% auto; font-size: 0;pointer-events: none; cursor: initial;}
.logo3 {position: absolute; top: 0.2rem; right: 0.2rem; display: block; width: 0.7rem; height: 0.42rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/logo3.png) no-repeat center top; background-size: 100% auto; font-size: 0;pointer-events: none; cursor: initial;}
.head-box{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/top.png) no-repeat center top; background-size: 100% auto; width: 12rem; height:2.18rem;margin: 8.3rem auto 0;position: relative;}
.btn-go{position: absolute; top:.36rem; right: .7rem; display: block; width: 3.64rem; height:1.04rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-go.png) no-repeat center top; background-size: 100% auto; font-size: 0;}
.music-plat{position: absolute; top: 1.5rem; right: .94rem; display: block; width: 3.16rem; height:0.28rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/music-plat.png) no-repeat center top; background-size: 100% auto; font-size: 0;}



/* cont1 */
.cont1 .left,.cont1 .right{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;text-align: center;}
.cont1 .left{width:7.8rem;height: 6rem;position: relative;}
.cont1 .left img{width:5.6rem;height: 5.6rem;display: block;position: relative;z-index: 2;}
.cont1 .btn-play{display: block;background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-pause.png) no-repeat center top;background-size: 100% auto;width:1.94rem;height: 1.94rem;position: absolute;top: 1.6rem;left:1.82rem;z-index: 4;}
.cont1 .btn-play.pause{display: block;background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-play.png) no-repeat center top;background-size: 100% auto;}
.cont1 .left span{display: block; width: 5.13rem;height: 5.13rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/musci-cd.png) no-repeat;background-size: 100% auto;position: absolute;top: 0.2rem;right:.7rem;}
.cont1 .left span.play{animation:active 1.2s infinite linear;}
.cont1 .song-title{width: 2.14rem;height: 0.7rem; background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/song-title.png) no-repeat;background-size: 100% auto;margin-left: 0.3rem;}
.cont1 .right .song-txt{color:#8d462d;height:0.32rem;font-size: 0.22rem;line-height:0.32rem;text-align: left;}
.cont1 .right .song-txt1{padding-left: .2rem;padding-top: .16rem;}
.cont1 .right .song-txt2{padding-left: .1rem;padding-bottom: .12rem;}
.cont1 .right{width: 4.2rem;height: 6rem;}
.aplayer{width: 4rem;box-shadow:none!important;-webkit-box-shadow:none!important;padding:0.17rem;margin-top:0.1rem!important;padding:0;background:none;overflow: visible;}
.aplayer .aplayer-pic{display: none !important;}
.aplayer .aplayer-music{display: none !important;}
.aplayer.aplayer-withlrc .aplayer-info{margin: 0;height:4.08rem;}
/* 歌词样式			 */
.aplayer.aplayer-withlrc .aplayer-lrc{height:4.08rem;width:100%;}
.aplayer .aplayer-lrc:before,.aplayer .aplayer-lrc:after{display: none;}
.aplayer .aplayer-lrc p{font-family: 'fz';color:#a7a3b9;height:0.4rem !important;font-size: 0.24rem;line-height:0.4rem !important;opacity:.8 !important;text-align: left;/*padding-left: 0.2rem!important;*/}
/* 播放进度 */
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap{margin: 0;}
.aplayer .aplayer-info .aplayer-controller{width:7.18rem;position: absolute;top:3rem;left: -7.9rem;z-index: 5;}
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop{display: none;}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb{-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
.aplayer .aplayer-lrc p.aplayer-lrc-current{color:#4b4269;font-weight: bold;opacity:1 !important;} 
/* .aplayer .aplayer-lrc p.aplayer-lrc-current:before{content:"";background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/icon1.png) no-repeat center top;background-size: 100% auto;width:0.06rem;height: 0.32rem;display: block;position: absolute;left: 0.02rem;} */
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb{width:0.1rem!important;height:0.1rem!important;margin-right:-0.15rem!important;margin-top: -0.03rem!important;right:.06rem!important;} 
.aplayer .aplayer-info .aplayer-controller .aplayer-time{font-size: 0.24rem;color:#e1d6d0;bottom: -0.28rem;right: 1.66rem;}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar{background:#604c46;height: 0.04rem;}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played{height: 0.04rem;}
.aplayer .aplayer-time button{display: none;}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded{height: 0.04rem!important;}

.btns-box{width: 100%;text-align: center;font-size: 0;padding-top: 0.16rem;}
.btns-box a{display: inline-block; vertical-align: top;width:4.74rem;height: 1.34rem;}
.btn-hope{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-hope.png) no-repeat;background-size: 100% auto;margin-right: 1.24rem;}
.btn-skin{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-skin.png) no-repeat;background-size: 100% auto;}
/*cont2*/
.cont2 ul{width: 100%;height: auto;margin: 0 auto;font-size: 0;text-align: center;}
.cont2 ul li{display: inline-block; vertical-align: top;font-size: 0;}
.cont2 ul li img{display: inline-block; vertical-align: top;width: 1.28rem;height: 1.28rem;}
.cont2 ul li em{color: #8d462d;font-size: .22rem;line-height: .5rem;display: block;padding-bottom: .4rem;}
.cont2 ul li p{color: #787092;font-size: .22rem;line-height: .36rem;display: block;}
.cont2 ul li p span{font-weight: bold;color: #4b4269;}
.cont2 ul li a{display: block;}
.cont2 li{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/bg-prop.png) no-repeat;background-size: 100% 100%;width:5.74rem;height: 5.04rem;text-align: center;padding-top: .4rem;margin-top: .4rem;}
.cont2 li:nth-child(1),.cont2 li:nth-child(3){margin-right: .52rem;}
.cont2 li .prop-title{width: 5.74rem;height: .46rem;margin: 0 auto;display: block;}
.cont2 li .prop-title1{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/prop1-title.png) no-repeat;background-size: 100% 100%;}
.cont2 li .prop-title2{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/prop2-title.png) no-repeat;background-size: 100% 100%;}
.cont2 li .prop-title3{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/prop3-title.png) no-repeat;background-size: 100% 100%;}
.cont2 li .prop-title4{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/prop4-title.png) no-repeat;background-size: 100% 100%;}
.cont2 li .prop-title5{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/prop5-title.png) no-repeat;background-size: 100% 100%;}
.cont2 li a{width: 3.64rem;height:1.04rem;margin: 0 auto;}
.cont2 li .btn-enter{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-enter.png) no-repeat;background-size: 100% 100%;}
.cont2 li .btn-partake{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-partake.png) no-repeat;background-size: 100% 100%;}
.cont2 li .btn-join{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-join.png) no-repeat;background-size: 100% 100%;}
.cont2 li .btn-leave{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-leave.png) no-repeat;background-size: 100% 100%;}
.cont2 li:nth-child(2) P,.cont2 li:nth-child(3) P,.cont2 li:nth-child(4) P{width: 84%;margin: 0 auto;}
.cont2 li img{margin:.14rem .04rem .2rem;}
.cont2 li:nth-child(3) a{margin-top: .54rem;}

.cont2 li.last{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/bg-prop5.png) no-repeat;background-size: 100% auto;width:12rem;height:3.18rem;text-align: center;padding-top: .2rem;margin-top: .4rem;}

.cont2 li.last .left,.cont2 li.last .right{display: inline-block;vertical-align:top;text-align: center;}
.cont2 li.last .left{width: 7rem;height: 2rem;}
.cont2 li.last .right{width: 5rem;height: 2rem;}
.cont2 li.last .left p{width: 92%;margin: 0 auto;}
  /*cont3  */
.cont3 .txt{color: #4b4269;font-size: .3rem;line-height: .4rem;text-align: center;padding-bottom: .28rem;}
.cont3 .btn-test{display: block;margin: 0 auto;}

/* cont3 */
.cont3 .btn-test{width:3.64rem ;height: 1.04rem;background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/btn-test.png) no-repeat;background-size: 100% 100%;}
.cont3 .code{width:2.24rem ;height: 2.96rem;background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/code.png) no-repeat;background-size: 100% 100%;margin: .68rem auto 2.4rem;}
.cont3 .slogo{width:11.98rem ;height:1.28rem;background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/slogo.png) no-repeat;background-size: 100% 100%;margin: .26rem auto;}
/* title */
.title1{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/title1.png) no-repeat center top; background-size: 100% 100%;width: 12.32rem; height: 0.84rem;margin: 0 auto;}
.title2{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/title2.png) no-repeat center top; background-size: 100% 100%;width: 12.84rem; height: 0.94rem;margin: 0 auto;}
.title3{background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/title3.png) no-repeat center top; background-size: 100% 100%;width: 6.76rem; height: .9rem;margin: 0 auto;}


/*呼吸动画效果*/
@-webkit-keyframes active{
    0%{ -webkit-transform: rotate(0deg);}
   100%{ -webkit-transform: rotate(360deg);}
}
@keyframes active{
    0%{transform: rotate(0deg);}
   100%{ transform: rotate(360deg); }
}
/*竖屏提示横屏*/
.mask{width:100%; height:100%; background:#32373b;position: fixed;left:0;top: 0;z-index:99999999;display:none;}
.mask-box{width: 100%;height: 252px;position: absolute;top: 50%;left:0;transform: translateY(-50%);margin-top: -10px;}
.mask-pic{width: 194px;height: 194px;margin: 0 auto;text-align: center;}
.mask span{font-size:24px;display:block;color:#ffd40a; text-align:center;width: 100%;padding-top: 5px;line-height: 32px;}
.mask i{width: 128px;height: 194px;background: url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/screen-tips.png) 0 0 no-repeat;background-size: 128px 194px;display: block;margin: 0 auto;-webkit-animation: maskAni 1.5s ease infinite alternate;animation: maskAni 1.5s ease infinite alternate;}
@-webkit-keyframes maskAni{
    0% {-webkit-transform:rotate(-90deg);}
    30% {-webkit-transform:rotate(-90deg);}
    70%{-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(0deg);}
}



/*弹窗*/
.dia2{width: 7.2rem;height: 3.20rem;position: relative;}
.dia2 .tc{background:url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/bg-tc.png) no-repeat;background-size: 100% 100%;width: 7.2rem;height: 3.20rem;margin: 0 auto;}
.dia2 .dia-close{width:.48rem;height:.48rem;background:url(//game.gtimg.cn/images/yxzj/cp/a20200110libaiml/tc-close.png) no-repeat;background-size: 100% 100%;position: absolute;top: .5rem;right: .6rem;}

