/* reset */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer{margin:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif; font-family: '\5FAE\8F6F\96C5\9ED1';}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
a{text-decoration:none; outline: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);} 
a:hover{text-decoration:none; filter:brightness(1.2);}
img{border:0} 
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0;list-style: none;}
body {background: #202020;}
iframe {display: block}
div,a,img{outline: none;}
.hidden{display: none; font-size: 0; text-indent: -999em;}
html.body{position: relative; max-width: 1024px; min-width: 880px; font-family: 'OPPOSansM';}
body::-webkit-scrollbar {display:none}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.pac{display: block; position: absolute;top: 50%;left: 50%; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.wrap{max-width: 1024px; min-width: 880px; margin: 0 auto; position: relative; text-align: center; overflow: hidden; height: 32000px;}
@font-face {
  font-family: "OPPOSansB";
  src: url("//assorted.downloads.oppo.com/static/assets/fonts/OPPOSans/OPPOSans-Bold.ttf");
}
@font-face {
  font-family: "OPPOSansH";
  src: url("//assorted.downloads.oppo.com/static/assets/fonts/OPPOSans/OPPOSans-Heavy.ttf");
}
@font-face {
  font-family: "OPPOSansM";
  src: url("//assorted.downloads.oppo.com/static/assets/fonts/OPPOSans/OPPOSans-Medium.ttf");
}
.content{position: fixed; top: 0; left: 0; display: block; width: 100%; height: 100%;}
.content-bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#video2{display: block; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover;}
/* top */
.top-box{display: block; width: 100%; min-width: 880px; height: 64px; overflow: hidden; font-size: 0; text-align: left; position: relative; z-index: 9; transform: translateY(0);}
.top-inno{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 76px; height: 64px; background: url(../img/inno.png) no-repeat center center; background-size: 100% auto; margin-left: 100px;}
.top-oppo{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; height: 64px; line-height: 64px; font-size: 14px;font-family:"OPPOSansM";font-weight:normal;color:rgba(255,255,255,1); float: right; margin-right: 100px;}
/* cont1 */
.cont1{display: block;width: 100%; height: 100%;position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.cont1-bg{position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; display: block; width: 100%; height: 100%; background: #000; border-radius: 8px;}
/* header */
#video1{position: absolute; top: 0; left: 0; display: block;height: 100%;}
.header{position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 100%; height: 100%;z-index: 8; transition: transform .1s;}
.header-bg{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; height: 100%;z-index: 1; pointer-events: none; overflow: hidden;}
.header-txt1{position: absolute; left: 0; top: 50%; width: 100%; height: 320px; z-index: 2; pointer-events: none; margin-top: -160px;}
.header-p1{width:816px;height:152px;color:#ffffff;font-family:"OPPOSansB";font-size:48px;font-weight:bold;line-height:72px;text-align:center;margin:0 auto;}
.header-p2{width:816px;height:27px;color:#ffffff;font-family:"OPPOSansB";font-size:20px;font-weight:bold;line-height:27px;text-align:center;margin:0 auto;padding-top: 48px;}
.header-txt2{left: 0; top: 50%; left: 0; margin-top: -90px; position: absolute; width: 100%; height: 180px; z-index: 2; opacity: 1; pointer-events: none; transform: translate3d(0,700px,0);}
.header-p3{width:480px;height:108px;color:#ffffff;font-family:"OPPOSansB";font-size:20px;line-height:27px;text-align:center;margin: 0 auto;}
.header-txt3{position: absolute; left: 0; top: 0; width: 100%;height:100%;background: url(../img/header-txt3.png) no-repeat center bottom; background-size: 100% 100%;}
.header-txt3-inno{display: block;width: 100%; height: 100%; background: url(../img/header-txt3-inno.png) no-repeat center center; background-size: 100% auto; opacity: 0;}
/* 日程 */
.schedule{position: absolute; top: 50%;left: 50%; margin-top: -256px; margin-left: -440px; display: none;width: 880px;height: 512px;background: url(../img/schedule-bg.png) no-repeat center bottom; background-size: auto 100%;z-index: 7;}
.schedule-title1{position: absolute;top: 63px;left: 72px; z-index: 2; width:160px;height:55px;font-size:24px;font-family:'OPPOSansB';font-weight:bold;color:rgba(255,255,255,1);line-height:55px;text-align: left; transform: translate3d(394px,174px,0) scale(1.5); transition: transform .1s;}
.schedule-title2{position: absolute; top: 104px; left: 72px;z-index: 2; width:187px;height:33px;font-size:14px;font-family:'OPPOSansB';font-weight:bold;color:rgba(255,255,255,1);line-height:33px;text-align: left; transform: translate3d(430px,190px,0) scale(2); transition: transform .1s;letter-spacing: 1px;}
.schedule-box{position: absolute; top: 180px;left: 72px; width: 1000px; font-size: 0;text-align: left;}
.schedule-item{position: relative; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 400px; height: 130px; text-align: left; transform: translate3d(322px,150px,0); transition: transform .1s;}
.schedule-time{height:25px;font-size:20px; line-height: 34px; font-weight:400; font-family:'OPPOSansM'; color: #2DC84D;}
.schedule-txt{height:50px;font-size:28px; line-height: 50px;font-family:'OPPOSansB'; color: #fff; font-weight: bold;}
.schedule-intr{height:22px;font-size:14px; line-height: 22px; font-weight:400;font-family:'OPPOSansM'; color: #fff;}
/* 嘉宾 */
.guest{position: fixed; left: 50%; margin-left: -512px; top: 100%; display: none; width: 1024px; height: auto;  text-align: center; transform: translate3d(0,0,0); color: #fff; font-size: 0;}
.guest-title{font-size: 40px; line-height: 40px; height: 105px; font-family:'OPPOSansB'; font-weight: bold; transform: translate3d(0,0,0);}
.guest-scrollbox{position: relative; display: block; width: 880px; height: 560px; margin: 0 auto;}
.guest .guest-scrollbox{overflow: visible;}
.guest-btns{position: absolute; top: 350px; left: 0; text-align: left; height: 48px; width: 100%; font-size: 0;}
.guest-btns a{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 48px; height: 48px; line-height: 40px; border-radius: 50%; font-size: 0; text-align: center; margin-right: 32px; font-family:'OPPOSansB';}
.guest-prev{background: url(../img/btn-prev.png) no-repeat center top; background-size: 100% auto;}
.guest-next{background: url(../img/btn-next.png) no-repeat center top; background-size: 100% auto;}
.guests{position: absolute; top: 0; left: 0; height: 300px; width: 9999px; font-size: 0; text-align: left; transition: all .3s;}
.guest-box{position: relative; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 340px; height: 300px; margin-right: 24px; transform: translate3d(0,0,0);}
.guest1{background: url(../img/guestbg1.png) no-repeat center top; background-size: 100% auto;}
.guest2{background: url(../img/guestbg2.png) no-repeat center top; background-size: 100% auto;}
.guest3{background: url(../img/guestbg3.png) no-repeat center top; background-size: 100% auto;}
.guest4{background: url(../img/guestbg4.png) no-repeat center top; background-size: 100% auto;}
.guest5{background: url(../img/guestbg5.png) no-repeat center top; background-size: 100% auto;}
.guest6{background: url(../img/guestbg6.png) no-repeat center top; background-size: 100% auto;}
.guest7{background: url(../img/guestbg7.png) no-repeat center top; background-size: 100% auto;}
.guest-txt{position: absolute; top: 40px; left: 40px; width: 280px; text-align: left;}
.guest-name{width: 100%; height: 50px; font-size: 24px; line-height: 40px; font-family:'OPPOSansB'; font-weight: bold;}
.guest-intr{width: 114px; height: auto; font-size: 14px; line-height: 20px; font-family:'OPPOSansM';}
/* 地图 */
.map{position: fixed; left: 0; top: 100%; display: none; width: 100%; height: 100%; overflow: hidden; text-align: center; transform: translate3d(0,0,0); color: #fff; font-size: 0; background: #000;}
.map-title{position: absolute; top: 50%; left: 0; margin-top: -40px; width: 100%; height: 80px; font-size: 40px; line-height: 56px; font-family:'OPPOSansB'; font-weight: bold; color: #fff; text-align: center; transform: translate3d(0,50px,0); opacity: 0;}
.map-txts{display: block; width: 748px; height: 230px; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; transform: translate3d(0,60px,0); opacity: 0; z-index: 2; pointer-events: none;}
.map-txt1{font-size:20px; line-height:27px; height: 120px; text-align: center; font-family:'OPPOSansB'; font-weight: bold; color: #fff;}
.map-txt2{font-size:16px; line-height: 22px; height: 22px; font-family:'OPPOSansM'; color:rgba(45,200,77,1);}
.map-details{position: absolute; top: 50%; left: 50%; width: 100%; height: 1000px; transform: translate(-50%, -50%)}
.map-pics{position: absolute; top: 50%; left: 50%; margin-left: -800px; margin-top: -800px; display: block; width: 1600px; height: 1600px; transform: scale(0.42); background: url(../img/map0.png) no-repeat center center; background-size: 100% 100%;}
.area{position: absolute; top: 0; right: 0; display: block; width: 890px; height: 440px; margin: auto; opacity: 0;}
.area1{background: url(../img/map1.png) no-repeat center center; background-size: 100% 100%; opacity: 1;}
.area2{background: url(../img/map2.png) no-repeat center center; background-size: 100% 100%;}
.area3{background: url(../img/map3.png) no-repeat center center; background-size: 100% 100%;}
.area4{background: url(../img/map4.png) no-repeat center center; background-size: 100% 100%;}
.area5{background: url(../img/map5.png) no-repeat center center; background-size: 100% 100%;}
.area6{background: url(../img/map6.png) no-repeat center center; background-size: 100% 100%;}
.area7{background: url(../img/map7.png) no-repeat center center; background-size: 100% 100%;}
.area-txts{position: absolute; top: 50%; left: 50%; font-family:'OPPOSansB'; font-weight: bold; text-align: left; margin-left: 120px; width: 350px; height: 300px; margin-top: -150px;}
.area-txt{position: absolute; top: 0; left: 0; transform: translate3d(0,-50px,0);}
.area-num{height:136px; font-size:88px; color:rgba(85,85,85,1); line-height:120px;}
.area-title{height:72px; font-size: 40px; color: #fff; line-height: 56px;}
.area-intr{width: 340px; line-height: 26px; color: #fff; font-size: 20px;}
/* 大会资讯和直播合作 */
.foot-cont{display: none; position: fixed; top: 100%; left: 0; width: 100%; height: auto; background: #0D0D0D;}
/* 大会资讯 */
.news{display: block; width: 100%; overflow: hidden; text-align: center; transform: translate3d(0,0,0); color: #fff; font-size: 0; z-index: 1; padding-bottom: 120px;}
.news-center{display: block; position: relative; width: 1024px; font-size: 0; text-align: center;margin: 0 auto;}
.news-title{width: 100%; font-family:'OPPOSansB'; font-weight: bold; height: 176px; font-size: 40px; line-height: 56px; color: #fff; padding-top: 188px;}
.news-box{width: 1024px; text-align: center; margin: 0 auto;}
.news-item{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 392px; height: 310px; margin: 0 42px;}
.news-pic{background: #555555;display: block; width: 392px; height: 210px; overflow: hidden; border-radius: 8px; margin-bottom: 8px;}
.news-pic img{display: block; width: 392px; height: 210px; overflow: hidden;}
.news-txt{ font-size: 18px; line-height: 34px; height: 42px; text-align: left; color: #fff; font-family:'OPPOSansB'; font-weight: bold;}
.news-time{color:rgba(213,213,213,1); font-size: 14px; line-height: 24px; text-align: left; font-family:'OPPOSansM';}
/* 直播合作 */
.partner{display: block; width: 100%; height: auto; overflow: hidden; text-align: center; transform: translate3d(0,0,0); color: #fff; font-size: 0; z-index: 2; padding-bottom: 250px;}
.partner-center{display: block; width: 1024px; font-size: 0; text-align: center; margin: 0 auto;}
.partner-title{width: 100%; font-family:'OPPOSansB'; font-weight: bold; height: 164px; font-size: 40px; line-height: 78px; color: #fff;}
.partner-box{display: block; width: 800px; height: 250px; background: url(../img/partner.png) no-repeat center top; background-size: 100% auto; text-align: center; font-size: 0; overflow: hidden; margin: 0 auto;}
.partner-foot{position: absolute; bottom: 0; left: 0; width: 100%; height: 150px; background: #000;}
/* 底部 */
.footer{position: relative; width: 880px; margin: 48px auto 0; }
.foot-inno{width: 100px; height: 20px; background: url(../img/m-header-txt3-inno.png) no-repeat left top; background-size: auto 100%; margin-bottom: 18px;}
.foot-line{display: block; position: absolute; top: 30px; left: 0; width: 880px; height: 1px; background-color: #333333;}
.foot-bottom{width: 100%; height: 18px; font-size: 0; text-align: left;}
.foot-cr{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-size: 12px; line-height: 18px; color: #717171; font-family:'OPPOSansM';}
.foot-langues{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; float: right; font-size: 0; color: #717171; height: 18px; line-height: 18px;}
.langue-icon{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; background: url(../img/langue-icon.png) no-repeat center center; background-size: 100% auto; width: 18px; height: 18px; margin-right: 8px;}
.foot-langues a,.foot-langues span{font-size: 12px; line-height: 14px; color: #717171;font-family:'OPPOSansM';}
.foot-langues span{margin: 0 6px;}