/* reset */
html,body{ width: 100%;height: 100%;}
html{font-size: 50px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,figure{margin:0;padding:0;border:0;vertical-align:baseline;border-radius: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
body{font-family:"Microsoft YaHei",Helvetica,sans-serif;color:#333;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:text;-webkit-touch-callout:none;-webkit-tap-highlight-color: transparent;word-break:break-all;word-wrap:break-word;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1.seotit{width: 100%; height: 0; font-size: 0; text-indent: -9999em; line-height: 500%; overflow: hidden;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
input,select,form,textarea{vertical-align:middle;outline:none}
img{display: block; outline: none;}
strong,b,em,i{ font-weight: normal; font-style: normal;}
a{text-decoration:none;outline:0;color:#333}
div,a,input,select,option{outline:none}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.hid{display: none; font-size: 0; text-indent: -999em;}
.hidden{font-size: 0;}
body{background: #030713;}
/*清除浮动*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}
 /* 背景 */
.content1{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg1.jpg) no-repeat;background-size:100% 100%;width: 7.5rem;height:8.66rem;position: relative;}
.content2{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg2.jpg) no-repeat;background-size:7.5rem auto;width: 7.5rem;height:61rem;margin: -0.02rem;}


/*wrap*/
/*logo*/
.logos{display: block;position: absolute;top: 0.28rem;left:0.3rem;z-index: 99;}
.logos a{float: left;background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/logo.png) no-repeat;background-size:100% 100%;width:1.23rem;height:0.72rem;}
/*登录*/
.login{position: absolute;top: 7.98rem;left: 0; display: block; width: 100%; text-align: center; font-size: 0.18rem;  color: #f1c67d;z-index: 99; }  
.login a{color: #f1c67d;}


/*wrap1*/
.wrap1{padding-top: 0.04rem;position: relative;font-size: 0;width: 7.5rem;height: 17.8rem;margin: 0 auto;}
.wrap1 .left{width: 7.5rem;height: 7.4rem;position: relative;}
.wrap1 .show{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-show.png) no-repeat;background-size:100% 100%;width:0.54rem;height:0.28rem;padding-left: 0.42rem;display: block;font-size: 0.2rem;line-height: 0.28rem;color:#fff;position: absolute;top: 1.4rem;left: 1.66rem;}


.wrap1 .gif1{width:4.55rem;height: 6.15rem;}
.wrap1 .gif2{width:4.01rem;height: 5.87rem;}
.wrap1 .gif{display: none;position: absolute;top: -5rem;left: 1.7rem;z-index: 99999;}


.wrap1 .woman{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/girl.png) no-repeat;background-size:100% 100%;width:7.43rem;height: 6.84rem;margin-top: 0.6rem;}
.wrap1 .man{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/boy.png) no-repeat;background-size:100% 100%;width:7.43rem;height: 6.84rem;margin-top: 0.6rem;}
.wrap1 .left .switch{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-gril.png) no-repeat;background-size:100% 100%;width:2.82rem;height: 0.6rem;position: absolute;top: 6.66rem;left: 2.34rem;z-index: 4;}
.wrap1 .left .switch.on{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-boy.png) no-repeat;background-size:100% 100%;width:2.82rem;height: 0.6rem;}
.wrap1 .boy{float: left;width: 0.34rem;height: 0.6rem;display: block;}
.wrap1 .girl{float: right;width: 0.34rem;height: 0.6rem;display: block;}
.wrap1 .right{text-align: right;width: 7.5rem;}
.wrap1 .right .title-desc{font-size: 0.3rem;color: #d4b77a;font-weight: bold;line-height: 0.36rem;text-align: center;}
.wrap1 .right .desc{font-size: 0.18rem;color: #847b68;line-height: 0.6rem;text-align: center;}
.wrap1 .right .team{width:2.99rem;height: 1.18rem;margin: 0 auto;}
.wrap1 .right .btn-team{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-team.png) no-repeat;background-size:100% 100%;width:2.14rem;height: 0.56rem;font-size: 0.24rem;color: #d2ccc2;text-align: center;display: block;margin-left: 0.44rem;margin-top: 0.18rem;margin: 0.12rem auto 0;padding-top: 0.26rem;}
.wrap1 .right 
.wrap1 .right .btn-teamon{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-teamon.png) no-repeat;background-size:100% 100%;width:2.14rem;height: 0.56rem;font-size: 0.24rem;color: #d2ccc2;text-align: center;display: block;margin-left: 0.44rem;margin-top: 0.18rem;margin: 0.12rem auto 0;padding-top: 0.26rem;}


.wrap1 .right ul{width: 6.14rem;height:3rem;margin: 0.38rem auto 0;}
.wrap1 .right li{float: left;width: 2.04rem;height: 3rem;text-align: center;position: relative;}
.wrap1 .right .gift{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop1-desc.png) no-repeat;background-size:100% 100%;width:1.51rem;height: 0.41rem;font-size: 0.22rem;font-weight: bold;color: #d4b77a;line-height: 0.38rem;text-align: center;margin: 0 auto 0.1rem;}
/*.wrap1 .right .second{margin:0 0.54rem;}*/
.wrap1 .right ul img{width:1.21rem;height: 1.15rem;margin: 0 auto;}
.wrap1 .right ul a{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-buy.png) no-repeat;background-size:100% 100%;width:1.1rem;height: 0.32rem;font-size: 0.20rem;font-weight: bold;color: #f8f7f3;text-align: center;display: block;margin: 0.08rem auto;padding-top: 0.06rem;}

.wrap1 .right ul .btn-buyon{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-buyon.png) no-repeat;background-size:100% 100%;pointer-events: none; cursor: initial;}
.wrap1 .right ul .original-price{font-size: 0.18rem;color: #a9a193;text-decoration:line-through;}
.wrap1 .right ul .group-price{font-size: 0.2rem;font-weight: bold;color: #ebe7da;}
.wrap1 .right ul .tips{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop1-tip.png) no-repeat;background-size:100% 100%;width:0.14rem;height: 0.24rem;position: absolute;top: 0.9rem;right: -0.08rem;}
.wrap1 .right .team-suc{font-size: 0.18rem;color: #363c49;text-align: center;line-height: 0.5rem;}
.wrap1 .right .gift-desc{font-size: 0.16rem;color: #788296;text-align: center;background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop1-descbg.png) no-repeat;background-size:100% 100%;width:2.46rem;height: 0.24rem;line-height: 0.24rem;margin: 0 auto;}




/*wrap2*/
.wrap2{width: 7.5rem;height: 5.82rem;margin: 0 auto;}
.wrap2 ul{margin-top: 0.72rem;width: 5.6rem;height:3rem;margin-left:1.8rem ;}
.wrap2 ul li{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg-prop2.png) no-repeat;background-size:100% 100%;width:1.43rem;height: 2.08rem;margin:0 0.2rem;float: left;text-align: center;}
.wrap2 ul li img{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop2-bg.png) no-repeat;background-size:100% 100%;width:0.86rem;height:0.81rem;margin: 0.24rem auto 0.38rem;}
.wrap2 ul .first img{margin: 0.24rem auto 0.18rem;}
.wrap2 ul li p{font-size: 0.18rem;color: #f1ebd1;line-height: 0.22rem;text-align: center;}


/*wrap3*/
.wrap3{width: 7.5rem;height: 9.46rem;margin: 0 auto;font-size: 0;}
.wrap3 .left-box{width: 7.5rem;height: 2rem;}
.wrap3 .right-box{width: 7.5rem;height: 4.54rem;margin-top: 0.92rem;}
.wrap3 .left-box .left,.wrap3 .left-box .right{float: left;}
.wrap3 .left-box .left{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg-prop3l.png) no-repeat;background-size:100% 100%;width:1.65rem;height:1.8rem;text-align: center;margin:0 0.24rem 0 1.46rem;}
.wrap3 .left-box .left img{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop3-bg.png) no-repeat;background-size:100% 100%;width:1.17rem;height:1.11rem;margin: 0.34rem auto 0;}
.wrap3 .left-box .right{position: relative;}
.wrap3 .left-box .right img{width:1.68rem;height:1.08rem;display: block;}
.wrap3 .left-box .right .time{font-size: 0.18rem;color: #d2d2d2;line-height: 0.3rem;padding-top: 0.18rem;}
.wrap3 .left-box .right .act{font-size: 0.18rem;color: #ffffff;font-weight: bold;letter-spacing: 0.02rem;}
.wrap3 .left-box .right .act span{color: #d4b77a;}
.wrap3 .left-box .right .btn-buy{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-buy.png) no-repeat;background-size:100% 100%;width:1.1rem;height: 0.32rem;font-size: 0.20rem;font-weight: bold;color: #f8f7f3;text-align: center;display: block;padding-top: 0.06rem;position: absolute;top: 0.6rem;left:1.5rem;}


.wrap3 .right-box ul{width: 6.22rem;height: 4.54rem;margin: 0 auto;}
.wrap3 .right-box li{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg-prop3r.png) no-repeat;background-size:100% 100%;width:1.7rem;height:1.75rem;float: left;text-align: center;margin-bottom: 0.5rem;}
.wrap3 .right-box .first{margin-right: 2.8rem;}
.wrap3 .right-box .last{margin-left: 2.18rem;}
.wrap3 .right-box li img{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop3r-bg.png) no-repeat;background-size:100% 100%;width:1.07rem;height:1.01rem;margin: 0 auto;}
.wrap3 .right-box li p{color: #f1ebd1;font-size: 0.16rem;margin-top: 0.22rem;line-height: 0.22rem;}


/*wrap4*/
.wrap4{width: 7.5rem;height:7.74rem;margin: 0 auto;}
.wrap4 ul{margin-top: 0.34rem;width:5rem;height: 4.8rem;margin-left:1.32rem ;}
.wrap4 ul li{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg-prop4.png) no-repeat;background-size:100% 100%;width:1.43rem;height: 2.08rem;margin:0 0.2rem 0.24rem;float: left;text-align: center;}
.wrap4 ul li img{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/prop4-bg.png) no-repeat;background-size:100% 100%;width:0.86rem;height:0.81rem;margin: 0.24rem auto 0.38rem;}
.wrap4 ul .first img{margin: 0.24rem auto 0.28rem;}
.wrap4 ul li p{font-size: 0.18rem;color: #f1ebd1;line-height: 0.22rem;}

/*wrap5*/
.wrap5{width: 7.5rem;height: 9.9rem;margin: 0 auto;}
.wrap5 ul{width: 5.7rem;height: 5.8rem;margin: 0 auto;padding-top: 0.42rem;}
.wrap5 ul li{float: left;width: 1.9rem;height: 1.9rem;text-align: center;}
.wrap5 ul li .date{font-size: 0.22rem;color: #FFFFFF;line-height: 0.18rem;padding-top: 0.36rem;}
.wrap5 ul li .head{font-size: 0.24rem;color: #f1ebd1;padding-top: 0.24rem;letter-spacing: 0.06rem;}
.wrap5 ul .linetwo .head{line-height: 0.28rem;padding-top: 0.12rem;}
.wrap5 ul .linetwo span{letter-spacing: 0.04rem;}
.wrap5 ul li .head-desc{font-size: 0.18rem;color: #2c241c;line-height: 0.18rem;padding-top: 0.22rem;}
.wrap5 ul .linetwo .head-desc{padding-top: 0.14rem;}
.wrap5 ul .four,.wrap5 ul .six{margin-right: 1.9rem;}
.wrap5 ul .two .head-desc{padding-top: 0.04rem;} 
.wrap5 ul li .three .date{padding-right: 0.04rem;}

/*wrap6*/
.wrap6{width: 7.5rem;height: 9rem;margin: 0 auto;}
.wrap6 ul{width: 5rem;height: 7.6rem;margin: 0 auto;padding-top: 0.68rem;}
.wrap6 ul li{float: left;background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/bg-prop6.png) no-repeat;background-size:100% 100%;width: 2.23rem;height: 3.45rem;text-align: center;margin: 0 0.12rem 0.32rem;}
.wrap6 ul li .spe{font-size: 0.22rem;color: #f1ebd1;padding-top: 0.8rem;line-height: 0.2rem;}
.wrap6 ul li img{;width:1.27rem;height:1.21rem;margin:0.42rem auto 0;}
.wrap6 ul li .time{font-size: 0.18rem;color: #f1ebd1;padding-top: 0.2rem;line-height: 0.24rem;}



/*title title-desc*/
.title{margin: 0 auto;height:1.31rem;}
.title1{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/title1.png) no-repeat;background-size:100% 100%;width:6.05rem;height: 1.32rem;}
.title2{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/title2.png) no-repeat;background-size:100% 100%;width:5.57rem;}
.title3{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/title3.png) no-repeat;background-size:100% 100%;width:6.47rem;}
.title4{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/title4.png) no-repeat;background-size:100% 100%;width:5.56rem;}
.title5{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/title5.png) no-repeat;background-size:100% 100%;width:6.05rem;}
.title6{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/title6.png) no-repeat;background-size:100% 100%;width:5.51rem;}
.title-desc{font-size: 0.18rem;width: 90%;text-align: center;line-height: 0.28rem;color: #d4b77a;margin: 0.22rem auto;}




/*<!--IEG通用底部 css样式-->*/
#afooter { position:relative; padding: 10px 0; text-align:center; font:normal 12px/19px Tahoma;z-index:10; background-color: #000;}
#afooter .e { font:normal 10px/19px Tahoma;}
#afooter, #afooter a { color:#c0c0c0; text-decoration:none;}


/*公共*/
.second .spe .after{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/right5.png) no-repeat;background-size:0.24rem 0.1rem;width:0.12rem;height:0.2rem;margin-left:0.04rem;}
.second .spe .before{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/left5.png) no-repeat;background-size:0.12rem 0.1rem;width:0.12rem;height:0.1rem;margin-right: 0.04rem;}
.spe .after{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/right5.png) no-repeat;background-size:0.24rem 0.1rem;width:0.24rem;height:0.1rem;margin-left:0.04rem;}
.spe .before{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/left5.png) no-repeat;background-size:0.24rem 0.1rem;width:0.24rem;height:0.1rem;margin-right: 0.04rem;}
.spe .before,.spe .after{display: inline-block;*display:inline;*zoom:1;vertical-align:top;margin-top: 0.04rem;}




.dialog{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/tc-bg.png) no-repeat;background-size:100% 100%;width: 6.21rem;height: 3.18rem;text-align: center;position: relative;}
.dia-close{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/tc-close.png) no-repeat;background-size:100% 100%;width: 0.34rem;height: 0.34rem;position: absolute;top: 0.02rem;right: -0.4rem;display: block;}
.dialog p{color: #f1ebd1;font-size: 0.26rem;line-height: 0.34rem;padding-top: 0.88rem;width: 98%;}


.dia1 .btn-zd,.dia1 .btn-jj{display: inline-block;*display:inline;*zoom:1;vertical-align:top;background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/tc-btn.png) no-repeat;background-size:100% 100%;width:1.4rem;height:0.47rem;font-size: 0.24rem;color: #f1ebd1;line-height: 0.46rem;text-align: center;margin-top:0.52rem;}
.dia1 .btn-zd{margin-right: 1.98rem;}
.dia1 .btn-zd.on,.dia1 .btn-jj.on{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/tc-btnon.png) no-repeat;background-size:100% 100%;color: #242540;}


.dia2 p{padding-top: 0.56rem;}
.dia2 textarea{width: 3.9rem;height: 0.54rem;border: 0.02rem solid #f1ebd1;padding: 0 0.08rem;color: #f1ebd1;font-size: 0.22rem;background-color:transparent;resize:none;outline:none;margin-top: -0.44rem;margin-left: 0.08rem;}
.dia2 .btn-copy{background: url(//game.gtimg.cn/images/x5/cp/a20190919qqxwm/btn-copy.png) no-repeat;background-size:100% 100%;width:1.80rem;height:0.47rem;font-size: 0.24rem;color: #242540;line-height: 0.46rem;text-align: center;margin: -0.18rem auto 0;display: block;}
