body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure{ margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block }
ol,ul{  list-style: none }
body{ -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100% !important; -webkit-touch-callout: none; -webkit-user-select: text; -webkit-touch-callout: none;  word-break: break-all; word-wrap: break-word;width: 100%; font-size: 0.12rem;background: #171c32;overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{ font-weight: normal }
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{  font-weight: inherit }
strong,i,em{ font-weight: normal;font-style: normal; }
input,select,form { vertical-align:middle; outline:none; }
div,a,img{outline: none;}
img{border:none;vertical-align: top;}
a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus, [onclick] {outline: 0;  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a {-webkit-touch-callout: none; text-decoration: none; color: #666666;outline: 0; }
html,body{background: #5fcdde;overflow-x: hidden;width: 100%;height: 100%;}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block;}
.hidden{text-indent:-9999px;font-size:0px;}
/*清除浮动*/
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}

/* footer */
#afooter{text-align:center; line-height:.20rem;color: #b3c8d9;padding: .2rem 0; position: relative; z-index: 2; margin-top: 0;font-size: .2rem;background: #000000;}
#afooter a{ color: #000;}
#loginStatusSyncFrame_ams_ame{ display: none;}

.wrap{width: 7.5rem;height:auto;background: #5fcdde;margin: 0 auto;overflow: hidden;position: relative;}

.wrap .head{width: 7.5rem;height:9.92rem;background: url(ossweb-img/head.jpg) no-repeat center top;background-size: 100% 100%;margin: 0 auto;overflow: hidden;position: relative;}
.head .logo{background: url(ossweb-img/logo.png) no-repeat;background-size: 100% 100%;width: .8rem;height:.8rem;position: absolute;top: .22rem;left: .34rem;}
.head .login-box{background: url(ossweb-img/btn-login.png) no-repeat;background-size: 100% 100%;width: 3rem;height:.72rem;color:#ffffff;font-size: .24rem;line-height: .72rem;text-align: center;position: absolute;top: 6.94rem;left: .64rem;}
.head .login-box a{color:#ffffff;}
.head .btn-bind{background: url(ossweb-img/btn-bind.png) no-repeat;background-size: 100% 100%;width: 3rem;height:.72rem;color:#40140b;font-size: .24rem;line-height: .72rem;text-align: center;position: absolute;top: 6.94rem;right: .64rem;}
.head .btn-binded{background: url(ossweb-img/btn-binded.png) no-repeat;background-size: 100% 100%;width: 3rem;height:.72rem;color:#40140b;font-size: .24rem;line-height: .72rem;text-align: center;position: absolute;top: 6.94rem;right: .64rem;}
.head .have{width: 100%;padding-top: 8.2rem;color:#ffffff;font-size: .28rem;line-height: .5rem;text-align: center;}
.head .have span{color:#1a4d5f;font-size: .24rem;}
.head .have span em{color:#ffdc48;font-size: .6rem;font-weight: bold;font-style: italic;}
.head .have i{font-style: italic;color:#d3460f;font-size: .24rem;font-weight: bold;}



.cont{width: 7.5rem;height:auto;margin: 0 auto;overflow: hidden;position: relative;margin-top: -.02rem;}
.cont1{background: url(ossweb-img/bg1.jpg) no-repeat center top;background-size: 100% 100%;background-size: 100% 100%;width: 7.5rem;height:17.6rem;margin: 0 auto;padding-top: 1.1rem;margin-top: -.02rem;}
.cont1 ul{width: 6.18rem;height: 15.48rem;margin: 0 auto;padding-top: .7rem;position: relative;}
.cont1 li{float: left;width:2.86rem ;height: 5.16rem;}
.cont1 li.odd{margin-right: .44rem;}
.cont1 li .task{width: 2.86rem;height:2.9rem;text-align: center;position: relative;}
.cont1 li .task img{width: 2.86rem;height:1.7rem;margin: 0 auto;}
.cont1 li .task p{color:#207b87;font-size: .22rem;line-height: .24rem;padding-left: .3rem;padding-bottom: .08rem;}
.cont1 li .task p.oneline{line-height: .56rem;padding-bottom: 0;}
.cont1 li .task i{font-style: italic;color:#d3460f;font-size: .24rem;font-weight: bold;display: block;padding-left: .3rem;}
.cont1 li .task span{display: block;background: url(ossweb-img/title1-title.png) no-repeat;background-size: 100% 100%;width: 1.64rem;height:.4rem;color:#d6ebed;font-size: .24rem;text-align: center;line-height: .4rem;position: absolute;top:-.1rem;left: -.2rem;}
.cont1 li a{width: 2.6rem;height:.58rem;display: block;margin: .22rem auto 0;font-size: .24rem;line-height: .58rem;text-align: center;}
.cont1 li .btns-get1{background: url(ossweb-img/btns-get1.png) no-repeat;background-size: 100% 100%;color:#FFFFFF;}
.cont1 li .btns-get2{background: url(ossweb-img/btns-get2.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont1 li .btns-got{background: url(ossweb-img/btns-got.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont1 li .task1{background: url(ossweb-img/task1.png) no-repeat;background-size: 100% 100%;}
.cont1 li .task2{background: url(ossweb-img/task2.png) no-repeat;background-size: 100% 100%;}
.cont1 li .task3{background: url(ossweb-img/task3.png) no-repeat;background-size: 100% 100%;}
.cont1 li .task4{background: url(ossweb-img/task4.png) no-repeat;background-size: 100% 100%;}
.cont1 li .task5{background: url(ossweb-img/task5.png) no-repeat;background-size: 100% 100%;}
.cont1 li .task6{background: url(ossweb-img/task6.png) no-repeat;background-size: 100% 100%;}


.cont2{width: 7.5rem;height:auto;background: url(ossweb-img/bg2.jpg) no-repeat center top;background-size: 100% auto;margin: 0 auto;overflow: hidden;position: relative;padding-top: 1rem;margin-top: -.02rem;}
.cont2 .box{background: url(ossweb-img/box2.png) no-repeat;background-size: 100% 100%;width: 7.38rem;height:4.36rem;position:absolute ;top: .9rem;left:0;text-align: center;}
.cont2>div p{color:#ffffff;font-size: .24rem;padding-right: .6rem;padding-top: 1.5rem;font-style: italic;text-align: right;}
.cont2>div p em{color:#fdd75c;font-size: .48rem;font-weight: bold;}
.cont2>div span{display: block;padding-right: .6rem;color:#fdd75c;font-size: .24rem;font-weight: bold;font-style: italic;line-height: .36rem;padding-bottom: .06rem;text-align: right;}
.cont2>div a{width: 2.6rem;height:.58rem;display: block;margin: .14rem 0  0 4.2rem;font-size: .24rem;line-height: .58rem;text-align: center;}
.cont2 .btns-get1{background: url(ossweb-img/btns-get1.png) no-repeat;background-size: 100% 100%;color:#FFFFFF;}
.cont2 .btns-get2{background: url(ossweb-img/btns-get2.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont2 .btns-got{background: url(ossweb-img/btns-got.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont2 .follow{color:#ffffff;font-size: .24rem;font-weight: bold;padding-top:3.3rem;padding-bottom: .32rem;text-align: center;width: 100%;margin: 0 auto;}
.cont2 .title2-foot{width: 7.12rem;height:.38rem;background: url(ossweb-img/title2-foot.png) no-repeat;background-size: 100% 100%;margin-left: .36rem;margin-bottom: .52rem;}

.cont2 .phase2{padding-top: 3.4rem;width: 7.5rem;height:auto;padding-bottom: .3rem;}
.cont2 .phase2>div{background: url(ossweb-img/bg-duties.png) no-repeat;background-size: 100% 100%;width: 7rem;height:2.9rem;margin-left: .4rem;}
.cont2 .phase2>div img{width: 1.62rem;height:1.56rem;display: block;float: left;}
.cont2 .phase2>div p{padding-top: .4rem;}




.cont3{width: 7.5rem;height:auto;background: url(ossweb-img/bg3.jpg) no-repeat center bottom;background-size: 100% auto;margin: 0 auto;overflow: hidden;position: relative;padding-top:.5rem;margin-top: -.02rem;}
.cont3 .btns-record{background: url(ossweb-img/btn-record.png) no-repeat;background-size: 100% 100%;width: 2.1rem;height:.58rem;color:#FFFFFF;font-size: .24rem;line-height: .58rem;text-align: center;display: block;margin: 0 auto;}
.cont3 ul{width: 6.66rem;height:auto;margin: 0 auto;}
.cont3 .phase1-2{padding-top: .3rem;}
.cont3 li{float: left;width:3.32rem;height:3.32rem;}
.cont3 li>div{background: url(ossweb-img/bg-prop3.png) no-repeat;background-size: 100% 100%;width: 1.72rem;height:1.76rem;margin: 0 auto;position: relative;}
.cont3 li>div img{width: 1.72rem;height:1.76rem;margin: 0 auto;}
.cont3 li>div p{background: url(ossweb-img/bg-prop3p.png) no-repeat;background-size: 100% 100%;width: 2.7rem;height:.4rem;color:#042b43;font-size: .24rem;line-height: .4rem;text-align: center;position: absolute;top: 1.1rem;left: -.5rem;}
.cont3 li .pay{color:#e05924;font-size: .24rem;line-height: .5rem;text-align: center;font-weight: bold;font-style: italic;padding-bottom: .08rem;}
.cont3 li a{width: 2.1rem;height:.58rem;display: block;margin: 0 auto;font-size: .24rem;line-height: .58rem;text-align: center;}
.cont3 li .btn-convert{background: url(ossweb-img/btn-convert.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont3 li .btn-converted{background: url(ossweb-img/btn-converted.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont3 li .btn-no-convert{background: url(ossweb-img/btn-no-convert.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont3 li .btn-converts{background: url(ossweb-img/btn-no-convert.png) no-repeat;background-size: 100% 100%;color:#40140b;}
.cont3 .btn-more{border: 1px solid #064d65;display: block;width: 5.42rem;height:.52rem;margin: .14rem auto .3rem;font-size: .24rem;line-height: .52rem;color: #064d65;text-align: center;box-sizing: border-box;}
.cont3 .btn-more i{background: url(ossweb-img/sanj.png) no-repeat;background-size: 100% 100%;width: .2rem;height:.12rem;display: inline-block;vertical-align: top;margin-left: .1rem;margin-top: .18rem;}
.cont3 .title3-foot{width: 4.2rem;height:.7rem;background: url(ossweb-img/title3-foot.png) no-repeat;background-size: 100% 100%;margin-left: 3.3rem;margin-bottom: .04rem;}


.cont4{width: 7.5rem;height:7.78rem;background: url(ossweb-img/bg4.jpg) no-repeat center top;background-size: 100% 100%;margin: 0 auto;overflow: hidden;position: relative;margin-top: -.02rem;}
.cont4 ul{width: 5.4rem;height: 6rem;margin: 0 auto;color:#064d65;font-size: .24rem;padding-top: .3rem;}
.cont4 ul li{line-height: .4rem;margin-left: .4rem;position: relative;}
.cont4 ul li span{position: absolute;top: 0;left: -.3rem;}
/*标题*/
.title1{background: url(ossweb-img/title1.png) no-repeat;background-size: 100% 100%;width: 6.34rem;height:.84rem;margin: 0 auto;}
.title2{background: url(ossweb-img/title2.png) no-repeat;background-size: 100% 100%;width: 6.94rem;height:.96rem;margin: 0 auto;}
.title3{background: url(ossweb-img/title3.png) no-repeat;background-size: 100% 100%;width: 5.12rem;height:.8rem;margin: 0 auto;}
.title3-desc{color:#064d65;font-size: .24rem;line-height: .66rem;text-align: center;padding-bottom: .1rem;}
.title4{background: url(ossweb-img/title4.png) no-repeat;background-size: 100% 100%;width: 2.08rem;height:.5rem;margin: 0 auto;}




/*弹窗*/
.dialog{position: relative;}
.dialog .dia-close{background: url(ossweb-img/tc-close.png) no-repeat;background-size: 100% 100%;width: .4rem;height:.4rem;position: absolute;top: 0;right: -.5rem;}

.dia1,.dia2{background: url(ossweb-img/bg-tc1.png) no-repeat;background-size: 100% 100%;width: 5.92rem;height:3.36rem;font-size: 0;text-align: center;}
.dia3,.dia12{background: url(ossweb-img/bg-tc2.png) no-repeat;background-size: 100% 100%;width: 5.92rem;height:4.36rem;font-size: 0;text-align: center;}
.dia4,.dia9,.dia11{background: url(ossweb-img/bg-tc3.png) no-repeat;background-size: 100% 100%;width: 5.92rem;height:2.36rem;font-size: 0;text-align: center;}
.dia5,.dia6,.dia7,.dia8,.dia10{background: url(ossweb-img/bg-tc4.png) no-repeat;background-size: 100% 100%;width: 4.92rem;height:1.86rem;font-size: 0;text-align: center;}


.dia1>div{display: inline-block;width: 1.2rem;height:2rem;padding-top: .8rem;}
.dia1>div p{color:#c9f4ff;font-size: .22rem;line-height: .6rem;}
.dia1>div img{width: 1.2rem;height:1.2rem;display: block;}
.dia1 .qq-box{margin-right: .92rem;}

.dia2 .wx-box{display: block;width: 1.2rem;height:2rem;padding-top: .8rem;margin: 0 auto;}
.dia2 img{width: 1.2rem;height:1.2rem;display: block;}
.dia2 p{color:#c9f4ff;font-size: .22rem;line-height: .6rem;}
.dia3 {height: 3.86rem!important;padding-top: .5rem;}
.dia3 .tc-title1{background: url(ossweb-img/tc-title1.png) no-repeat;background-size: 100% 100%;width: 4.52rem;height:.36rem;margin: 0 auto .3rem;}
.dia3 span{color:#c9f4ff;font-size: .22rem;padding-right: .26rem;}
.dia3 .phone{-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(ossweb-img/tc-check.png) no-repeat;background-size: 100% 100%;width: .22rem;height:.22rem;vertical-align: top;margin-top: .04rem;border-radius: 0;}
.dia3 .phone:checked{background: url(ossweb-img/tc-checked.png) no-repeat;background-size: 100% 100%;}
.dia3 label span{color:#c9f4ff;font-size: .22rem;padding-left: .1rem;padding-right: .46rem;}
.dia3 em{color:#c9f4ff;font-size: .22rem;padding-right: .1rem;line-height: .72rem;}
.dia3 .number{-webkit-appearance:none;-moz-appearance: none;outline:none;background:#247b9a;width: 2.5rem;height: 0.3rem;border:.02rem solid #064d65;box-sizing: border-box;padding: 0 .08rem;vertical-align: top;margin-top: .22rem;color:#c9f4ff;font-size: .2rem;line-height: .3rem;border-radius: 0;}
.dia3 .tip{color:#fff695;font-size: .22rem;width: 85%;margin: 0 auto;padding-top: .1rem;padding-bottom: .4rem;}
.dia3 .btn-sub{background: url(ossweb-img/tc-btn-sub.png) no-repeat;background-size: 100% 100%;width: 2.1rem;height:.58rem;display: block;margin: 0 auto;color:#40140b;font-size: .22rem;line-height: .58rem;}
.dia3 .btn-subed{background: url(ossweb-img/tc-btn-subed.png) no-repeat;background-size: 100% 100%;width: 2.1rem;height:.58rem;display: block;margin: 0 auto;color:#40140b;font-size: .22rem;line-height: .58rem;}

.dia4 p,.dia5 p,.dia6 p,.dia7 p,.dia8 p,.dia9 p,.dia10 p{color:#c9f4ff;font-size: .22rem;padding-top: .74rem;}
.dia4 p{padding-top: .8rem;}
.dia9 p{padding-top: 1rem;}
.dia11 .share{color:#c9f4ff;font-size: .22rem;padding-top: .6rem;}
.dia11 .share-desc{color:#fff695;font-size: .22rem;padding-top: .3rem;}
.dia11 .share-desc i{color:#ff7458;font-weight: bold;font-style: italic;}
.dia12 {height: 3.62rem!important;padding-top: .74rem;}
.dia12 img{width: 1.72rem;height: 1.72rem;display: block;margin: 0 auto;}
.dia12 .follow{color:#c9f4ff;font-size: .22rem;padding-top: .26rem;}
.dia12 .follow-awaed{color:#fff695;font-size: .22rem;padding-top: .3rem;}
.dia12 .follow-awaed i{color:#ff7458;font-weight: bold;font-style: italic;}

.dia13{background: url(ossweb-img/bg-tc5.png) no-repeat;background-size: 100% 100%;width: 6.32rem;height:4.7rem;font-size: 0;text-align: center;padding-top: .56rem;}
.dia13 .tc-title2{background: url(ossweb-img/tc-title2.png) no-repeat;background-size: 100% 100%;width: 2.24rem;height:.36rem;margin: 0 auto .1rem;}
.dia13 table{width: 6.28rem;height: 3rem;text-align: center;margin: 0 auto;}
.dia13 th{color:#7ac5d8;font-size: .22rem;line-height: .6rem;}
.dia13 td{color:#c9f4ff;font-size: .22rem;line-height: .4rem;}
.dia13 .btns {text-align: center;font-size: 0;padding-top: .26rem;}
.dia13 .btns a{display: inline-block;color:#fff695;font-size: .22rem;margin: 0 .2rem;text-decoration: underline;}

.dia14{background: url(ossweb-img/bg-tc6.png) no-repeat;background-size: 100% 100%;width: 5.92rem;height:5.06rem;font-size: 0;text-align: center;}

.dia15{background: url(ossweb-img/bg-tc7.png) no-repeat;background-size: 100% 100%;width: 5.92rem;height:6.16rem;font-size: 0;text-align: center;}

.dia14 p,.dia15 p{color:#c9f4ff;font-size: .22rem;padding-top: .52rem;padding-bottom: .12rem;}
.dia14 p i,.dia15 p i{color:#ff6f4d;font-style: italic;}
.dia14 img{width: 1.2rem;height: 1.24rem;display: block;margin: .2rem auto 0;}
.dia15 img{width: 1.32rem;height: 1.5rem;display: block;margin: 0 auto;}
.dia14 span,.dia15 span{color:#c9f4ff;font-size: .22rem;padding-top: .1rem;display: block;padding-bottom: .24rem;}
.dia14 em,.dia15 em{color:#fff695;font-size: .22rem;display: block;text-align: left;width: 80%;margin: 0 auto;}
.dia15 em{padding-top: .18rem;}
.dia15 b{color:#c9f4ff;font-size: .22rem;padding-right: .1rem;line-height: .44rem;}
.dia15 b.receive2{padding:0 .16rem;}
.dia15 input{-webkit-appearance:none;-moz-appearance: none;outline:none;background:#247b9a;width: 3.94rem;height: 0.3rem;border:.02rem solid #064d65;box-sizing: border-box;padding: 0 .08rem;vertical-align: top;margin-top: .06rem;color:#c9f4ff;font-size: .2rem;line-height: .3rem;border-radius: 0;}

.dia14 .btn-convert,.dia15 .btn-convert{background: url(ossweb-img/btn-convert.png) no-repeat;background-size: 100% 100%;color:#40140b;width: 2.1rem;height:.58rem;display: block;margin:.4rem auto 0;font-size: .24rem;line-height: .58rem;text-align: center;}
.dia14 .btn-converted,.dia15 .btn-converted{background: url(ossweb-img/btn-converted.png) no-repeat;background-size: 100% 100%;color:#40140b;width: 2.1rem;height:.58rem;display: block;margin: .4rem auto 0;font-size: .24rem;line-height: .58rem;text-align: center;}


/*第一期*/
.cont2 .phase2{display: none;} 
.cont3 .more{display: none;}

/*第二期*/
/*.cont2 .follow{display: none;}
.cont3 .more{display: block;}*/

/*第一期时注销第二期样式*/
/*第二期时注销第一期样式*/