body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer{margin:0;}
body,button,input,select,textarea{font:12px/1.5 '\5FAE\8F6F\96C5\9ED1', tahoma,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
a{text-decoration:none}
/*a:hover{text-decoration:underline}*/
img{border:0}
body{padding-top:42px}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}
/* reset end */
/* foot */
#afooter {
    position: relative;
    padding: 30px 0;
    text-align: center;
    font: normal 12px/19px Tahoma;
    z-index: 10;
    background-color: #191219;
}
#afooter, #afooter a {
    color: #c0c0c0;
    text-decoration: none;
}
.hidden{display: none; font-size: 0; text-indent: -999em;}
/* 图片分离路径示例 */
/* .bg{background-image: url(//game.gtimg.cn/images/lol/act/a20200117guardiansofthesand/bg.jpg);} */
.btn{transition: all .2s;}
.btn:hover{filter: brightness(1.1); -webkit-filter: brightness(1.1);}
/*金色字体*/
@font-face {
    font-family: 'sellnum-4';
    src: url('//game.gtimg.cn/images/lol/common/sell/font/sellnum-4.eot');
    src: url('//game.gtimg.cn/images/lol/common/sell/font/sellnum-4.woff') format('woff'),url('//game.gtimg.cn/images/lol/common/sell/font/sellnum-4.ttf') format('truetype'),url('//game.gtimg.cn/images/lol/common/sell/font/sellnum-4.svg') format('svg');
}
/* 金色字体示例样式 */
.gold{
  position: relative;
  font-size:80px;/* 字体大小 根据实际情况设置 */
  color:#d1ffff;/* 默认色值 低级浏览器下显示 */
 font-family: 'sellnum-4';
}

.wrap{min-width:1210px;max-width: 1920px;height: auto;position: relative;background: #181343;overflow: hidden;margin: 0 auto;}
/* nav */
.nav{width: 241px;height: 520px;position: fixed;right: 0;top: 50%;z-index: 9; transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%); display: none;}
.nav ul{width: 100%;height: 100%;}
.nav ul li{width: 100%;height: 58px;list-style-type: none;position: relative;}
.nav a{display: block; width: 100%;height: 58px; background: url(../ossweb-img/nav.png) no-repeat;}
.nav a.on,.nav a:hover{width: 100%;height: 58px; background: url(../ossweb-img/nav-on.png) no-repeat;}
.nav a.on::before,.nav a:hover::before{content: '';width: 100%;height: 62px; background: url(../ossweb-img/nav-icon.png) no-repeat;position: absolute;top: -2px;right: 0;z-index: 9;}
.nav .tab1,.nav .tab1.on,.nav .tab1:hover{background-position: 0 0;}
.nav .tab2,.nav .tab2.on,.nav .tab2:hover{background-position: 0 -58px;}
.nav .tab3,.nav .tab3.on,.nav .tab3:hover{background-position: 0 -115px;}
.nav .tab4,.nav .tab4.on,.nav .tab4:hover{background-position: 0 -173px;}
.nav .tab5,.nav .tab5.on,.nav .tab5:hover{background-position: 0 -231px;}
.nav .tab6,.nav .tab6.on,.nav .tab6:hover{background-position: 0 -289px;}
.nav .tab7,.nav .tab7.on,.nav .tab7:hover{background-position: 0 -347px;}
.nav .tab8,.nav .tab8.on,.nav .tab8:hover{background-position: 0 -404px;}
.nav .tab9,.nav .tab9.on,.nav .tab9:hover{background-position: 0 -462px;}
/*head*/
.kv{background: url(../ossweb-img/kv.jpg) no-repeat center top;background-size: 1920px auto;height: 1055px;min-width:1210px;max-width: 1920px;position: relative;margin: 0 auto;}
.logo{background: url(//game.gtimg.cn/images/lol/logo/middle.png) no-repeat center top;background-size: 100%;width: 200px;height:72px;background-size: 100%;font-size: 0;position: absolute;top: 20px;left: 0;z-index: 2;}
.kv .line{background: url(../ossweb-img/line.png) no-repeat;background-size: 1920px auto;height:61px;width:1920px;position: absolute;bottom: -12px;left:50%;transform: translateX(-50%);z-index: 2;}
.kv .kv1{background: url(../ossweb-img/kv1.jpg) no-repeat center top;background-size: 1920px 500px;height: 500px;min-width:1210px;max-width: 1920px;}
.kv .kv2{background: url(../ossweb-img/kv2.jpg) no-repeat center top;background-size: 1920px 555px;height: 555px;min-width:1210px;max-width: 1920px;}
/* bg */
.main1{background: url(../ossweb-img/bg1.jpg) no-repeat center top;background-size: 1920px auto;height: 1548px;}
.main2{background: url(../ossweb-img/bg2.jpg) no-repeat center top;background-size: 1920px auto;height: 1551px;}
.main3{background: url(../ossweb-img/bg3.jpg) no-repeat center top;background-size: 1920px auto;height: 1566px;}
.main4{background: url(../ossweb-img/bg4.jpg) no-repeat center top;background-size: 1920px auto;height: 1560px;}
.main5{background: url(../ossweb-img/bg5.jpg) no-repeat center top;background-size: 1920px auto;height: 1553px;}
.main6{background: url(../ossweb-img/bg6.jpg) no-repeat center top;background-size: 1920px auto;height: 1542px;}
.main7{background: url(../ossweb-img/bg7.jpg) no-repeat center top;background-size: 1920px auto;height: 1542px;}
.main8{background: url(../ossweb-img/bg8.jpg) no-repeat center top;background-size: 1920px auto;height: 1571px;}
.main9{background: url(../ossweb-img/bg9.jpg) no-repeat center top;background-size: 1920px auto;height: 1562px;}

/* common */
.main{min-width:1210px;max-width: 1920px;position: relative;margin: 0 auto;}
.main .bottom-line{background: url(../ossweb-img/line.png) no-repeat;background-size: 1920px auto;height:61px;width:1920px;position: absolute;bottom: -12px;left:50%;transform: translateX(-50%);z-index: 2;}
.main-box{width: 1210px;height: 220px;margin: 0 auto;position: relative;display: flex;justify-content: center;align-items: center;padding-top: 690px;}
.main-box .top-num{width: 130px;height: 150px;position: absolute;top: 60px;right: 0;display: none;}
.main-box .name{width:630px;padding-left: 16px;height: 130px;}
.main-box .name .title{margin-top: 8px;margin-right: 30px;}
.main-box .name p,.main .btn-play2{display: inline-block; *display: inline; *zoom: 1; vertical-align: middle;}
.main .btn-play2{background: url(../ossweb-img/btn-play2.png) no-repeat;background-size: 100%;width: 90px;height: 105px;animation:act  linear 1.2s infinite alternate;-webkit-animation:act  linear 1.2s infinite alternate;}
.name-price-box{width:267px;text-align: right;padding-right: 30px;}
.name-price-box .name-price,.name-price-box em{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;}
.name-price-box .name-price{font-size: 80px;line-height: 90px;color: #ddffff; font-family: 'sellnum-4';font-weight: bold;}
.name-price-box .name-price b{display: none;}
.name-price-box em{font-size: 25px;color: #ddffff;margin-top: 30px;font-weight: bold;font-family: 'sellnum-4';}

.inner{position: relative;display: flex;justify-content: center;align-items: flex-start;width: 1210px;height:auto;margin: 0 auto;padding-top: 50px;padding-bottom: 20px;}
.inner .left{width: 642px;}
.inner .left span.title{margin-top: 30px;position: relative;margin-right: 12px;}
.inner .left b{background-position-y:-1259px;width: 155px;height: 68px;margin-top: 32px;}
.inner .left .include{font-size: 16px;color: #5cdeff;line-height: 22px;padding-left: 6px;padding-top: 24px;width: 86%;}
.inner .left .include span{color: #5377fd;}
.inner .left .tips{font-size: 16px;color: #5cdeff;line-height: 22px;padding-left: 6px;padding-bottom: 2px;width: 86%;}
.inner .left .tips span{color: #5377fd;}
.inner .center{position: relative;font-size: 0;background: url(../ossweb-img/price-bg.png) no-repeat center center;background-size: 100%;width: 297px;height: 136px;text-align: right;}
.inner .center .name-price,.inner .center em{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;}
.inner .center .name-price{font-size: 70px;line-height: 156px;color: #ddffff; font-family: 'sellnum-4';padding-right: 30px;}
.inner .center .name-price b{font-size: 35px;}
.inner .center em{font-size: 25px;color: #ddffff;margin-top: 64px;font-weight: bold;font-family: 'sellnum-4';padding-right: 30px;}
.inner .center .price-txt{font-size: 16px;color: #5377fd;line-height: 24px;position: relative;top: -46px;text-align: left;padding-left: 90px;}
.inner .center .price-txt span{color: #5bddfe;}
.inner .right{width: 264px;}
@supports (-webkit-background-clip: text) {
  .main-box .name-price-box .name-price,.main-box .name-price-box .price-qb,.inner .center .name-price,.inner .center .price-qb{
    background-image: linear-gradient(#fcffff, #8effff);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}
/*common*/
.main .btn-buy{background: url(../ossweb-img/btn-buy.png) no-repeat;background-size: 100%;width: 264px;height: 158px;display: block;font-size: 0;}
.title{background: url(../ossweb-img/title.png) no-repeat;background-size: 500px 1500px;width:500px;height:80px;font-size: 0;display: inline-block;vertical-align: top;}
.title1{background-position-y:-0px;width: 475px;}
.title2{background-position-y:-129px;width: 373px;}
.title3{background-position-y:-255px;width: 373px;}
.title4{background-position-y:-396px;width: 373px;}
.title5{background-position-y:-537px;width: 321px;}
.title6{background-position-y:-668px;width: 422px;}
.title7{background-position-y:-818px;width: 422px;}
.title8{background-position-y:-968px;width: 373px;}
.title9{background-position-y:-1118px;width: 373px;}

.main1 .top-num{background: url(../ossweb-img/num1.png) no-repeat;background-size: 100%;}
.main2 .top-num{background: url(../ossweb-img/num2.png) no-repeat;background-size: 100%;}
.main3 .top-num{background: url(../ossweb-img/num3.png) no-repeat;background-size: 100%;}
.main4 .top-num{background: url(../ossweb-img/num4.png) no-repeat;background-size: 100%;}
.main5 .top-num{background: url(../ossweb-img/num5.png) no-repeat;background-size: 100%;}
.main6 .top-num{background: url(../ossweb-img/num6.png) no-repeat;background-size: 100%;}
.main7 .top-num{background: url(../ossweb-img/num7.png) no-repeat;background-size: 100%;}
.main8 .top-num{background: url(../ossweb-img/num8.png) no-repeat;background-size: 100%;}
.main9 .top-num{background: url(../ossweb-img/num9.png) no-repeat;background-size: 100%;}


.main ul{width: 1210px;text-align: center;font-size: 0;margin: 0 auto;}
.main li{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;width: 150px;height: auto;position: relative;}
.main li:last-child{margin-right: 0;}
.main li p{font-size: 16px;color: #5cdeff;line-height: 20px;padding-top: 4px;padding-bottom: 4px;}
.main li span{font-size: 16px;color: #4d68d0;line-height: 24px;display: block;}
.main li .spe{text-align: center;box-sizing: border-box;height: auto;font-size: 14px;color: #efdb87;line-height: 18px;border-bottom:1px solid #fff772;padding:4px 0;border-left:1px solid #fff772;border-right:1px solid #fff772;display: block;margin: 14px auto 0;}
.main li .spe:before{content: "";background: url(../ossweb-img/spe2.png) no-repeat center top;position: absolute;top: -8px;left:-1px;display: block;}
.main li .spe1{width: 115px;position: relative;}
.main li .spe1:before{width: 115px;height: 8px;}
.main li .spe2{width: 115px;position: absolute;bottom:-56px;left: 50%;transform: translateX(-50%);}
.main li .spe2:before{width: 115px;height: 8px;}
.main li i{display:block; margin:0 auto;}

/*.main li .spe{text-align: center;width: 100px;box-sizing: border-box;height: auto;font-size: 14px;color: #ffe8b1;line-height: 18px;border-bottom:1px solid #ffe8b1;padding:4px 0;border-left:1px solid #ffe8b1;border-right:1px solid #ffe8b1;display: block;margin: 8px auto 0;position: relative;}
.main li .spe:before{content: "";background: url(../ossweb-img/spe.png) no-repeat center top;position: absolute;top: -4px;left: 0;display: block;width: 99px;height: 5px;}*/


/* main1 */
.main1 li{margin-right: 0px;padding-top: 20px;}
.main1 li i{background:url(../ossweb-img/prop1.png) no-repeat 0 0; background-size:1400px 177px; transform:translate3d(-4px,0,0);width: 159px;height:177px;margin-bottom:4px;}
.main1 li i.colorfulgift1-1{background-position-x:-0px;}
.main1 li i.colorfulgift1-2{background-position-x:-177px;}
.main1 li i.colorfulgift1-3{background-position-x:-354px;}
.main1 li i.colorfulgift1-4{background-position-x:-531px;}
.main1 li i.colorfulgift1-5{background-position-x:-708px;}
.main1 li i.colorfulgift1-6{background-position-x:-887px;}
.main1 li i.colorfulgift1-7{background-position-x:-1063px;}
.main1 li i.colorfulgift1-8{background-position-x:-1241px;}


/* main2 */
.main2 .inner{padding-top: 30px;}
.main2 li{margin-right: 0px;}
.main2 li i{background:url(../ossweb-img/prop2.png) no-repeat 0 0; background-size:1199px 248px; transform:translate3d(-2px,0,0);width: 135px;height:248px;margin-bottom:-18px;}
.main2 li i.colorfulgift2-1{background-position-x:-0px;}
.main2 li i.colorfulgift2-2{background-position-x:-152px;}
.main2 li i.colorfulgift2-3{background-position-x:-304px;}
.main2 li i.colorfulgift2-4{background-position-x:-456px;}
.main2 li i.colorfulgift2-5{background-position-x:-608px;}
.main2 li i.colorfulgift2-6{background-position-x:-760px;}
.main2 li i.colorfulgift2-7{background-position-x:-912px;}
.main2 li i.colorfulgift2-8{background-position-x:-1064px;}

/* main3*/
.main3 .inner{padding-top: 30px;}
.main3 li{margin-right: 1px;width: 133px;padding-top: 10px;}
.main3 li i{background:url(../ossweb-img/prop3.png) no-repeat 0 0; background-size:1205px 204px; transform:translate3d(-2px,0,0);width: 106px;height:204px;margin-bottom:14px;}
.main3 li i.colorfulgift3-1{background-position-x:-0px;}
.main3 li i.colorfulgift3-2{background-position-x:-138px;}
.main3 li i.colorfulgift3-3{background-position-x:-275px;}
.main3 li i.colorfulgift3-4{background-position-x:-412px;}
.main3 li i.colorfulgift3-5{background-position-x:-550px;}
.main3 li i.colorfulgift3-6{background-position-x:-688px;}
.main3 li i.colorfulgift3-7{background-position-x:-826px;}
.main3 li i.colorfulgift3-8{background-position-x:-962px;}
.main3 li i.colorfulgift3-9{background-position-x:-1099px;}
/* main4 */
.main4 li{margin-right: 3px;width: 170px;padding-top: 40px;}
.main4 li i{background:url(../ossweb-img/prop4.png) no-repeat 0 0; background-size:1227px 209px; transform:translate3d(8px,0,0);width: 189px;height:209px;margin-bottom:-6px;}
.main4 li i.colorfulgift4-1{background-position-x:-0px;}
.main4 li i.colorfulgift4-2{background-position-x:-173px;}
.main4 li i.colorfulgift4-3{background-position-x:-346px;}
.main4 li i.colorfulgift4-4{background-position-x:-519px;}
.main4 li i.colorfulgift4-5{background-position-x:-692px;}
.main4 li i.colorfulgift4-6{background-position-x:-865px;}
.main4 li i.colorfulgift4-7{background-position-x:-1038px;}
/* main5 */
.main5 li{margin-right: 0px;width: 168px;padding-top: 14px;}
.main5 li:first-child{margin-left: -56px;}
.main5 li i{background:url(../ossweb-img/prop5.png) no-repeat 0 0; background-size:1177px 179px; transform:translate3d(20px,0,0);width: 162px;height:179px;margin-bottom:14px;}
.main5 li i.colorfulgift5-1{background-position-x:-4px;}
.main5 li i.colorfulgift5-2{background-position-x:-174px;}
.main5 li i.colorfulgift5-3{background-position-x:-340px;}
.main5 li i.colorfulgift5-4{background-position-x:-512px;}
.main5 li i.colorfulgift5-5{background-position-x:-678px;}
.main5 li i.colorfulgift5-6{background-position-x:-850px;}
.main5 li i.colorfulgift5-7{background-position-x:-1020px;}
/* main6*/
.main6 li{width: 170px;padding-top: 14px;}
.main6 li:first-child{margin-left: 18px;}
.main6 li i{background:url(../ossweb-img/prop6.png) no-repeat 0 0; background-size:1203px 171px; transform:translate3d(-14px,0,0);width: 175px;height:171px;margin-bottom:8px;}
.main6 li i.colorfulgift6-1{background-position-x:-0px;}
.main6 li i.colorfulgift6-2{background-position-x:-170px;}
.main6 li i.colorfulgift6-3{background-position-x:-340px;}
.main6 li i.colorfulgift6-4{background-position-x:-514px;}
.main6 li i.colorfulgift6-5{background-position-x:-688px;}
.main6 li i.colorfulgift6-6{background-position-x:-858px;}
.main6 li i.colorfulgift6-7{background-position-x:-1028px;}
/* main7*/
.main7 li{margin-right: 4px;width: 130px;padding-top: 40px;}
.main7 li i{background:url(../ossweb-img/prop7.png) no-repeat 0 0; background-size:1203px 133px; transform:translate3d(-2px,0,0);width: 127px;height:133px;margin-bottom:14px;}
.main7 li i.colorfulgift7-1{background-position-x:-0px;}
.main7 li i.colorfulgift7-2{background-position-x:-135px;}
.main7 li i.colorfulgift7-3{background-position-x:-269px;}
.main7 li i.colorfulgift7-4{background-position-x:-404px;}
.main7 li i.colorfulgift7-5{background-position-x:-538px;}
.main7 li i.colorfulgift7-6{background-position-x:-673px;}
.main7 li i.colorfulgift7-7{background-position-x:-807px;}
.main7 li i.colorfulgift7-8{background-position-x:-942px;}
.main7 li i.colorfulgift7-9{background-position-x:-1076px;}
/* main8 */
.main8 li{margin-right: 34px;width: 140px;padding-top: 30px;}
.main8 li i{background:url(../ossweb-img/prop8.png) no-repeat 0 0; background-size:1172px 177px; transform:translate3d(0px,0,0);width: 117px;height:177px;margin-bottom:16px;}
.main8 li i.colorfulgift8-1{background-position-x:-0px;}
.main8 li i.colorfulgift8-2{background-position-x:-176px;}
.main8 li i.colorfulgift8-3{background-position-x:-351px;}
.main8 li i.colorfulgift8-4{background-position-x:-527px;}
.main8 li i.colorfulgift8-5{background-position-x:-703px;}
.main8 li i.colorfulgift8-6{background-position-x:-879px;}
.main8 li i.colorfulgift8-7{background-position-x:-1055px;}
/* main9 */
.main9 li{margin-right: 12px;width: 140px;padding-top: 40px;}
.main9 li i{background:url(../ossweb-img/prop9.png) no-repeat 0 0; background-size:1193px 153px; transform:translate3d(0px,0,0);width: 141px;height:153px;margin-bottom:0px;}
.main9 li i.colorfulgift9-1{background-position-x:-0px;}
.main9 li i.colorfulgift9-2{background-position-x:-150px;}
.main9 li i.colorfulgift9-3{background-position-x:-301px;}
.main9 li i.colorfulgift9-4{background-position-x:-451px;}
.main9 li i.colorfulgift9-5{background-position-x:-601px;}
.main9 li i.colorfulgift9-6{background-position-x:-751px;}
.main9 li i.colorfulgift9-7{background-position-x:-902px;}
.main9 li i.colorfulgift9-8{background-position-x:-1052px;}


/*弹窗*/
.dia1{position: relative;width: 1000px;height: 564px;}
.dia1 .video-box{width: 1000px;height: 564px;border: 2px solid #4d4c46;box-sizing: border-box;}
.dia1 .video-box:before{content: "";background:url(../ossweb-img/tc-border-top.png) no-repeat center top; background-size:1032px auto;position: absolute;top: -28px;left: 50%;width: 1032px;height: 53px;transform: translateX(-50%);z-index: 4;}
.dia1 .video-box:after{content: "";background:url(../ossweb-img/tc-border-bottom.png) no-repeat center top; background-size:1016px auto;position: absolute;bottom: -2px;left: 50%;width: 1016px;height: 6px;transform: translateX(-50%);z-index: 4;}
.dia-close{font-size: 54px;color: #fff;position: absolute;top: -26px;right: -60px;font-weight: bold;}

@keyframes act
{
0% {transform: scale(1);}
100% {transform: scale(0.9);}
}
@-webkit-keyframes act
{
0% {transform: scale(1);}
100% {transform: scale(0.9);}
}
