body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer{margin:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
a{text-decoration:none}
/*a:hover{text-decoration:underline}*/
img{border:0}
body{padding-top:42px;background: #412924;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
ol,ul{list-style:none}
td,th,ul,ol{padding:0}
div,img,a{outline: none;}
/* reset end */
/* foot */
#afooter {
    position: relative;
    padding: 30px 0;
    text-align: center;
    font: normal 12px/19px Tahoma;
    z-index: 10;
    background-color: #191219;
}
#afooter, #afooter a {
    color: #c0c0c0;
    text-decoration: none;
}
.hidden{display: none; font-size: 0; text-indent: -999em;}
/* 图片分离路径示例 */
/* .bg{background-image: url(//game.gtimg.cn/images/lol/act/a20191120thresh/bg.jpg);} */

a:hover{filter:brightness(1.1);}
.spr{background: url(../ossweb-img/spr.png) no-repeat;width: 1130px;height: 1400px;}
.wrap{min-width:1100px;height: auto;position: relative;background: #412924;overflow: hidden;}
.head,.cont{min-width:1100px;overflow: hidden;position: relative;box-sizing: border-box;}
.head{height: 1119px;position: relative;background: url(../ossweb-img/bg0.jpg) no-repeat center top;}
.cont{height: 1898px;position: relative;background: url(../ossweb-img/bg1.jpg) no-repeat center top;}

.cont1{width: 1100px;height: 1080px;margin: 0 auto;font-size: 0;text-align: center;}
.cont2{width: 1100px;height: 740px;margin: 0 auto;position: relative;}

/*logo  .head*/
.head{min-width: 1200px;margin: 0 auto;font-size: 0;padding-top: 40px;}
.head a{display: inline-block;*display:inline;*zoom:1;vertical-align:top;height: 76px;}
.head a.logo-lol{width: 200px; background: url(//game.gtimg.cn/images/lol/logo/middle-white.png) no-repeat center center; background-size: 100% auto;margin-right: 10px;}
.head a.logo-bar{background: url(../ossweb-img/logo2.png) no-repeat center top;width: 151px;background-size: 100% auto;margin-right: 30px;}
.head a.logo-qq{background: url(../ossweb-img/logo3.png) no-repeat center center;width: 129px;background-size: 100% auto;}
.head .sub-tit{width:598px;height: 40px;position: absolute;top: 810px;left: 50%;transform: translateX(-50%);}
.head .sub-tit1{background: url(../ossweb-img/title-sub1.png) no-repeat;}
.head .head-big-title{background: url(../ossweb-img/head.png) no-repeat;width: 891px;height: 529px;position: absolute;top: 480px;left: 50%;transform: translateX(-49%);}

/*特权网吧嗨翻天 cont1*/
.cont1>div{display: inline-block;*display:inline;*zoom:1;vertical-align:top;width: 500px;height: 500px;}
.cont1>div.left{margin-right: 100px;}
.cont1>div .sub-tit-txt{color: #f1eee7;font-size: 16px;line-height: 28px;letter-spacing: 10px;}
.cont1>div .sub-tit{color: #fcf3de;font-size: 36px;line-height: 50px;font-weight: bold;padding-bottom: 50px;}
.cont1>div .sub-tit:before,.cont1>div .sub-tit:after{content: "";background: url(../ossweb-img/icon.png) no-repeat center center;background-size: 10px 10px;width: 40px;height: 50px;display: inline-block;*display:inline;*zoom:1;vertical-align:top;}
.cont1>div>div{position: relative;width: 300px;height:230px;margin: 0 auto;}
.cont1>div>div img{display: block;margin: 0 auto;}
.cont1>div>div .btn-play{background: url(../ossweb-img/btn-play.png) no-repeat center center;background-size: 66px 60px; width: 286px;height: 180px;position: absolute;top:0;left:7px;display: block;z-index: 3;}
.cont1>div .txt{color: #e4d7b9;font-size: 18px;line-height: 30px;}

.cont2 .txt1{color: #e4d7b9;font-size: 22px;line-height: 30px;font-weight: bold;padding-top: 186px;}
.cont2 .txt1 span{display: block;}
.cont2 .txt2{color: #e4d7b9;font-size: 16px;line-height: 24px;padding-top: 84px;}
.cont2 .txt2 span{color: #f5cd71;}
.cont2 .btn-order{background-position: -508px -388px;width: 391px;height: 102px;display: block;position: absolute;bottom: 76px;right: 56px;}
/*title*/
.title{font-size: 0;}
.title1{background-position: 0 0;width: 1130px;height: 260px;margin-left: -15px;}
.title2{background-position: 0 -310px;width:468px;height: 248px;}
.title-desc{width:100%;color: #f5e7c6;font-size: 18px;line-height: 50px;padding-bottom: 66px;position: relative;top: -130px;left: 0;}


/*dialog*/
.dialog{position: relative;}
.dia-close{background: url(../ossweb-img/tc-close.png) no-repeat;width:50px;height:50px;position: absolute;top: 10px;right: -66px;}
.dia1{background: url(../ossweb-img/tc-bg1.png) no-repeat;width: 1212px;height: 674px;}
.dia1 .video{width: 1192px;height: 666px;margin: 4px auto 0;}
.dia2{background: url(../ossweb-img/tc-bg2.png) no-repeat;width: 760px;height:417px;padding-top: 98px;box-sizing: border-box;}
.dia2 img{display: block;margin: 0 auto;}
.dia2 p{color: #e4d7b9;font-size: 18px;line-height: 100px;text-align: center;}
.dia2 .icon1{background: url(../ossweb-img/tc-icon1.png) no-repeat;width:216px;height:222px;position: absolute;top: -88px;left: -70px;}
.dia2 .icon2{background: url(../ossweb-img/tc-icon2.png) no-repeat;width:152px;height:168px;position: absolute;bottom: -38px;right:-92px;}
.dia3{background: url(../ossweb-img/tc-bg3.png) no-repeat;width: 960px;height:537px;box-sizing: border-box;}
.dia3 .txt{color: #e4d7b9;font-size: 24px;line-height: 140px;text-align: center;padding-top: 30px;}
.dia3 .icon3{background: url(../ossweb-img/tc-icon3.png) no-repeat;width:159px;height:190px;position: absolute;top: 28px;left: -88px;}
.dia3 .icon4{background: url(../ossweb-img/tc-icon4.png) no-repeat;width:213px;height:230px;position: absolute;bottom: 40px;right:-132px;}
.dia3 .spr{display: block;width: 350px;height: 80px;margin: 0 auto 20px;}
.dia3 .btn-newbar{background-position: 0 -1232px;}
.dia3 .btn-qqbar{background-position: -390px -1232px;}
.dia3 .btn-privilegebar{background-position: -770px -1232px;}
