/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
a{text-decoration:none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block}
div,a{outline: none;}
iframe{display: block;}
body{font-family:"Microsoft YaHei",Helvetica,sans-serif;color:#000;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:text;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;word-break:break-all;word-wrap:break-word; padding-top: 42px;background-color: #000;}
html,body{position: relative; width: 100%; min-width: 1400px; max-width: 1920px; scroll-behavior:smooth;}
/*清除浮动代码*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
/*通用底部样式*/
#afooter {background: #000000; text-align: center; position: relative; z-index: 10;}
#afooter .wrap_ieg {width: 1000px; margin: 0 auto; padding: 30px 0;}
#afooter p {color: #6e6e6e; line-height: 24px; font-size: 10px;}
#afooter a {color: #6e6e6e; font-size: 12px;}

/* 页面 */
.wrap {position: relative; width: 100%; min-width: 1400px; max-width: 1920px; margin: 0 auto; overflow: hidden; scroll-behavior:smooth;}
.main {width: 100%; height: auto; overflow: hidden; position: relative; margin: 0 auto;}
.content {position: relative; width: 1400px; height: auto; overflow: hidden; margin: 0 auto; height: 100%;}
.header {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg0.jpg) no-repeat center top; background-size: 1920px auto; height: 1116px;}
.main1 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg1.jpg) no-repeat center top; background-size: 1920px auto; height: 1310px;}
.main2 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg2.jpg) no-repeat center top; background-size: 1920px auto; height: 980px;}
.main3 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg3.jpg) no-repeat center top; background-size: 1920px auto; height: 1244px;}
.main4 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg4.jpg) no-repeat center top; background-size: 1920px auto; height: 1516px;}
.main5 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg5.jpg) no-repeat center top; background-size: 1920px auto; height: 2178px;}
.titles {position: relative; width: 1400px; height: 118px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/titles.png) no-repeat; background-size: 1400px auto; overflow: hidden; margin: 0 auto; font-size: 0;}
.main1 .titles{background-position: 0 0;}
.main2 .titles{background-position: 0 -138px;}
.main3 .titles{background-position: 0 -286px;}
.main4 .titles{background-position: 0 -434px;}
.main5 .titles{background-position: 0 -600px;}
.min-title {position: relative; width: 1400px; height: 50px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/titles.png) no-repeat; background-size: 1400px auto; background-position: 0 -754px; margin: 0 auto; line-height: 30px; text-align: center; color: #272441; font-size: 20px; font-weight: bold;}
.main-txt span{color: #fdc078;font-weight: bold;}
.main-txt {width: 100%; text-align: center; color: #8176a5; font-size: 16px; line-height: 24px; margin: 0 auto;}
.btn {transition: all ease-in-out .3s;}
.btn:hover {transform: scale(1.1); -webkit-transform: scale(1.1); filter: brightness(1.1); -webkit-filter: brightness(1.1);}

/* header */
.logo {position: absolute; top: 30px; left: 30px; display: block; width: 212px; height: 64px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/logo.png) no-repeat center top; background-size: 100% auto; font-size: 0; overflow: hidden;}
.btn-play {position: absolute; top: 546px; left: 618px; display: block; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/btn-play.png) no-repeat center top; width: 166px; height: 176px;-webkit-animation: active 1.5s ease-out infinite;animation: active 1.5s ease-out infinite;}
.header-time {position: absolute; top: 484px; left: 526px;background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/act-time.png) no-repeat;background-size: 346px auto;width: 346px; height: 61px;}
.header-tab-box {position: absolute;bottom: 60px; left: 0; font-size: 0; text-align: center; margin: 0 auto; width: 100%; height: auto;}
.header-tab-box i, .header-tab {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; height: 118px; position: relative;}
.header-tab-box i {width: 20px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/icon1.png) no-repeat center center; background-size: 100% auto;}
.header-tab {width: 640px; overflow: hidden; text-align: center; font-size: 16px;line-height: 16px;color: #4c1818;}
.header-tab span {display: block; font-size: 28px; line-height: 28px; width: 100%; font-weight: bold; padding-top: 20px; height: 40px;}
.header-tab.on{color: #d2c8f5;}
.header-tab1 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/header-tab1.png) no-repeat center top; background-size: 100% auto; }
.header-tab2 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/header-tab2.png) no-repeat center top; background-size: 100% auto; transition: all .3s;}
.header-tab1.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/header-tab1on.png) no-repeat center top; background-size: 100% auto; }
.header-tab2.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/header-tab2on.png) no-repeat center top; background-size: 100% auto; }
.header-tab:hover {filter: brightness(1.2); -webkit-filter: brightness(1.2);}

/* main1 */
.btn-play-box{position: absolute;top: 444px; left: 36px;background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg-btn-play2.png) no-repeat center top; background-size: 100% auto;width:342px; height: 206px; }
.btn-play2 { position: absolute;bottom: 0; left: 46px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/btn-play2.png) no-repeat center top; background-size: 100% auto; display: block; width: 58px; height: 64px; }
.main1-video-txt { position: absolute;bottom: 0; left: 114px; font-size: 16px; color: #fdc179; line-height: 16px; text-align: left; font-weight: bold;}
.btn1 {display: block; width: 254px; height: 64px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/btn1.png) no-repeat center top; background-size: 100% auto; line-height: 64px; font-size: 22px; color: #4c2d18; font-weight: bold; text-align: center;}
.main1-btn-box{width: 254px;height: 64px;position: absolute; top: 686px; left: 50px;}
.main1-btn-box .main1-btn{position: relative;z-index: 6;}
.main1-gift-box {width: 1060px; overflow: hidden; height: auto; font-size: 0; text-align: left; padding-top: 500px; margin-left: 340px;}
.main1-gift {display: inline-block; *display: inline; *zoom: 1; vertical-align: bottom; overflow: hidden; margin: 0 10px;}
.main1-gift1{width: 598px; height: 390px;} 
.main1-gift2,.main1-gift3{width: 160px; height: 305px;} 
.main1-gift img {display: block; width: 100%; height: 100%; overflow: hidden;}
.txt-more {position: absolute; top: 930px; left: 50px; display: block; width: 310px; height: 116px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/txt-more.png) no-repeat center top; background-size: 100% auto;}

/* main2 */
.main2-cont1{width: 100%;height: 468px;text-align: center;font-size: 0;margin: 0px auto 0;position: relative;}
.main2-cont1>div{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.main2-txts {text-align: right; width: 320px;padding-top: 166px; height: 260px;position: relative;}
.txt-reward {display: block; width: 166px; height: 79px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/txt-reward.png) no-repeat center top; background-size: 100% auto;margin: 10px 0 46px}
.main2-btn-box{float: right;margin-right: 64px;width: 254px;height: 64px;position: relative;}
.main2-btn {position: relative;z-index: 4;}

.main2-rewards {display: block; width: 510px; height: 468px; overflow: hidden; font-size: 0; text-align: center;}
.main2-reward {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 225px; height: 467px; margin: 0 10px; overflow: hidden; position: relative;}
.main2-reward1 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/reward-rim1.png) no-repeat center top; background-size: 100% auto;}
.main2-reward2 {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/reward-rim2.png) no-repeat center top; background-size: 100% auto;}
.main2-reward-txt1 {padding-top: 300px; font-size: 20px; color: #fdc078; text-align: center; line-height: 34px; height: 36px; font-weight: bold;}
.main2-reward-txt2 {font-size: 14px; color: #8b80c9; text-align: center; line-height: 20px;}

.main2-rewards-min {width: 290px; height: auto; overflow: hidden; text-align: center; font-size: 0; position: relative;padding-top: 86px;margin-right: 36px;}
.main2-reward-min {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/reward-min.png) no-repeat center top; background-size: 100% 100%; width: 120px; height: 146px; margin: 0 6px 12px; position: relative;}
.main2-reward-min img {display: block; width: 100%; height: 100%;}
.main2-reward-min p {position: absolute; top: 96px; left: 0; width: 100%; font-size: 14px; line-height: 18px; text-align: center; font-weight: bold; color: #fec97a;}
.main2-reward-min:last-child p{line-height: 36px;}

.main2-cont2{width: 100%;height: 250px;text-align: center;font-size: 0;margin: 0px auto 0;position: relative;top: -10px;left: 0;}
.main2-cont2>div{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.main2-cont2 .main2-speed{width:900px ;height: 182px;background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/time-speed.png) no-repeat center top; background-size: 100% 100%;position: relative;}
.main2-cont2 .main2-speed .speed{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/speed.png) no-repeat center top; background-size: 100% 100%;width:56px ;height:58px;}
.main2-cont2 .main2-speed .speed1{position: absolute;top: 46px;left: 154px;}
.main2-cont2 .main2-speed .speed2{position: absolute;top: 14px;left: 312px;}
.main2-cont2 .main2-speed .speed3{position: absolute;top: 40px;left: 464px;}
.main2-cont2 .main2-speed .speed4{position: absolute;top: 94px;left: 622px;}
.main2-cont2 .main2-speed .speed5{position: absolute;top: 32px;left: 776px;}
.main2-cont2 .main2-speed .speed1.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/speedon.png) no-repeat center top; background-size: 100% 100%;}
.main2-cont2 .main2-speed .speed2.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/speedon.png) no-repeat center top; background-size: 100% 100%;}
.main2-cont2 .main2-speed .speed3.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/speedon.png) no-repeat center top; background-size: 100% 100%;}
.main2-cont2 .main2-speed .speed4.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/speedon.png) no-repeat center top; background-size: 100% 100%;}
.main2-cont2 .main2-speed .speed5.on{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/speedon.png) no-repeat center top; background-size: 100% 100%;}


.main2-cont2 .speed-txt {width:264px ;height: 182px;font-size: 14px; color: #9b8bcc; text-align: right; line-height: 30px;margin-right: 114px;}
.main2-cont2 .speed-txt span{color: #fdc078;font-weight: bold;}
/* main3 */
.main3 .main-txt {height: 84px;}
.main3 .content {overflow: visible;}
.main3-box{width: 826px;height: auto;overflow: hidden;margin: 0 auto;position: relative;}
.main3 .swiper-container {position: relative; display: block; width: 346px; height: 503px; margin: 0 auto 86px; overflow: visible;}
.main3 .swiper-slide {transition: all .3s;}
.main3 .swiper-slide-active {opacity: 1;}
.swiper-banner {display: block; width: 346px; height: 503px;overflow: hidden; margin: 0 auto;}
.swiper-banner img{display: block; width: 346px; height: 503px; object-fit: contain; overflow: hidden; margin: 0 auto;}
.main3 .swiper-button-next, .main3 .swiper-button-prev {width: 57px; height: 171px; margin-top: -200px; transition: all .3s;}
.main3 .swiper-button-next {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/btn-nexton.png) no-repeat center top; background-size: 100% auto; right: 190px;}
.main3 .swiper-button-prev {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/btn-prevon.png) no-repeat center top; background-size: 100% auto; left: 190px;}
.main3 .swiper-pagination-bullet {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 74px; height: 8px; background: #8176a5; border-radius: 20px; margin: 0 6px !important; opacity: 1; pointer-events: auto; transition: all .3s;}
.main3 .swiper-pagination-bullet-active {background: #ffd27b;}
.main3 .swiper-pagination-bullets {top:784px;width: 100%;}

.main3-cont{text-align: center;width: 100%;margin: 0 auto;font-size: 0;height: 160px;}
.main3-cont .txt-reward2,.main3-cont ul{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.main3-cont .txt-reward2{margin: 40px 0 0 40px}
.main3-cont ul{width:340px;height: 160px;position: relative;text-align: center;font-size: 0px;}
.main3-cont li{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/reward-min.png) no-repeat center top; background-size: 100% 100%; width: 120px; height: 146px; margin: 0 6px; position: relative;}
.main3-cont li img{display: block; width: 100%; height: 100%;}
.main3-cont li  p {position: absolute; top: 96px; left: 0; width: 100%; font-size: 14px; line-height: 18px; text-align: center; font-weight: bold; color: #fec97a;}
.main3-btn-box{width: 254px;height: 64px;margin: 0 auto;position: relative;}
.main3-btn {margin: 30px auto 0;position: relative;z-index: 1;}


/* main4 */
.main4 .main-txt {height: 102px;}
.main4 ul{font-size: 0;text-align: center;width: 100%;height: 592px;}
.main4 ul li{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 273px; height: 563px;margin: 0 16px;}
.main4 ul li img{width: 100%;height: 100%;display: block;}
.main4 .code{width: 609px;height: 134px;margin: 0 auto;}
.main4 .code img{display: block; width: 100%; height: 100%;}
.main4-btn-box{width: 254px;height: 64px;margin: 0 auto 134px;position: relative;}
.main4-btn {position: relative;z-index: 4;}


/* side */
.side-box {position: fixed; top: 10%; right: 0; display: block; width: 202px; height: 652px; background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/side-bg.png) no-repeat center top; background-size: 100% auto; z-index: 6;}
.sides {display: block; padding-top: 146px; width: 100%; height: auto; overflow: hidden; position: relative;}
.sides a {display: block; width: 202px; height: 64px; margin-bottom: 1px; overflow: hidden; position: relative;}
.side:hover, .side.on {background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/side-on.png) no-repeat center top; background-size: 100% auto;}
.side span {display: block; margin-right: 46px; width: 156px; height: 26px; color: #9d8dce; text-align: right; padding-top: 12px;font-size: 14px; line-height: 14px; transition: all .1s;}
.side em {display: block; margin-right: 46px; width: 156px; height: 14px; text-align: right; color: #9d8dce; font-size: 12px; line-height: 12px; transition: all .1s;}
.side:hover span, .side.on span {font-size: 20px; line-height: 20px; color: #efedff; font-weight: bold;}
.side:hover em, .side.on em {font-size: 14px; line-height: 14px; color: #efedff; font-weight: bold;}
.side-top span {position: absolute; top: 22px; right: 46px; display: block; width: 66px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; color: #1f1a34; background: #b997eb; border-radius: 2px; transition: all .2s;}
.side-top:hover span {right: 40px; filter: brightness(1.2);}

/*呼吸动画效果*/
@-webkit-keyframes active{
    0%{ -webkit-transform: scale(1); -webkit-filter: brightness(100%); filter: brightness(100%);}
    50%{ -webkit-transform: scale(1.05); -webkit-filter: brightness(115%); filter: brightness(115%);}
    100%{ -webkit-transform: scale(1);-webkit-filter: brightness(100%); filter: brightness(100%); }
}
@keyframes active{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.05); }
    100%{ transform: scale(1); }
}


.fc{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg-code2-3.png) no-repeat center top; background-size: 100% auto;width: 254px; height: 226px;display: none;}
.fc img{display: block;width: 156px;height: 156px;margin: 0 auto;}
.fc p{font-size:16px; line-height: 60px;text-align: center; font-weight: bold; color: #fefefe;}
.fc1{position: absolute;bottom: 64px;left: 2px;}
.fc2{position: absolute;bottom: 64px;left: 0px;}
.fc3{position: absolute;bottom: 64px;left: 0px;}
.fc4{position: absolute;bottom: 64px;left: 0px;}
.main2-btn-box:hover .fc1{display: block;}
.main3-btn-box:hover .fc2{display: block;}
.main1-btn-box:hover .fc3{display: block;}
.main4-btn-box:hover .fc4{display: block;}
/* 弹窗 */
.dialog{position: relative;}
.dia1{width: 1000px;height: 600px;position: relative;}
.dialog .video-box{width: 1000px;height: 600px;margin: 0 auto;}
.dia-close{font-size: 70px;font-weight: bold;color: #ffffff;position: absolute;top: -24px;right: -62px;line-height: 76px;}

.dia2,.dia3,.dia4,.dia5{background: url(//game.gtimg.cn/images/yxzj/cp/a20191226together/bg-tc2.png) no-repeat center top; background-size: 100% 100%; width: 660px; height: 200px; }
.dia2 .tc-tips,.dia3 .tc-tips,.dia4 .tc-tips,.dia5 .tc-tips{ font-size: 26px; line-height: 46px; text-align: center; font-weight: bold; color: #ffce64;padding-top: 50px;}
.dia2 .tc-tips-desc,.dia3 .tc-tips-desc,.dia4 .tc-tips-desc,.dia5 .tc-tips-desc{ font-size: 20px; line-height: 34px; text-align: center; font-weight: bold; color: #ffffff;}
.dia2 .tc-tips-desc span,.dia3 .tc-tips-desc span,.dia4 .tc-tips-desc span,.dia5 .tc-tips-desc span{color: #ffce64;}


