/* wrap */
.wrap{width:7.5rem; height:auto; position:relative; overflow: hidden; background: url(//game.gtimg.cn/images/wepop/cp/a20191009coating/bg2.jpg) no-repeat center top; background-size: 100% auto;}
.cont{display: block; position: relative; overflow: hidden; width: 7.5rem; height: auto; margin: 0 auto; height: auto;padding-bottom: 0.2rem;padding-top: 7.6rem;}
.cont .tit4-1{background: url(//game.gtimg.cn/images/wepop/cp/a20191009coating/tit4-1.png) no-repeat;background-size:100% 100%; width: 7.32rem; height: 1rem;margin:0 auto -0.2rem;}
