/*html{font-size:50px;}*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,figure{margin:0;padding:0;border:0;vertical-align:baseline;border-radius:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
body{font-family:"MicrosoftYaHei",Helvetica,sans-serif;color:#333;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:text;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;word-break:break-all;word-wrap:break-word;}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1.seotit{width:100%;height:0;font-size:0;text-indent:-9999em;line-height:500%;overflow:hidden;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
input,select,form,textarea{vertical-align:middle;outline:none}
img{display:block;outline:none;}
strong,b,em,i{font-weight:normal;font-style:normal;}
a{text-decoration:none;outline:0;color:#333}
div,a,input,select,option{outline:none}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after,.clearfix:before{content:"";display:table;}
.clearfix:after{clear:both;}
.hid{display:none;font-size:0;text-indent:-999em;}
#loginStatusSyncFrame_ams_ame{display:none;}
html,body{width: 100%;position: relative;}
body{background-color: #f8f8f8;}

 html{ font-size: 9.25925925925926vw;}

/* foot */
.foot{font-size:.12rem;text-align:center;padding:.2rem 0;background:#120c26;color:#fff;}
.foot a{color:#fff;text-decoration:none;}
#loginStatusSyncFrame_ams_ame{display:none;}
/*清除浮动代码*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}

.wrap{width: 10.8rem;height: auto;position: relative;overflow: hidden;}
.head{width: 10.8rem;height: auto;position: relative;padding-top: 1.82rem;}
.head .logo{background: url(../ossweb-img/logo.png) no-repeat;background-size:100% 100%;width: 4.38rem;height: 1.04rem;display: block;position: absolute;top: .6rem;left: .42rem;z-index: 2;}
.head .btn-calendar{background: url(../ossweb-img/calendar.png) no-repeat;background-size:100% 100%;width: 1rem;height: .94rem;position: absolute;top: .6rem;right: .42rem;display: block;z-index: 2;}
.head .btn-calendar.on{display: none;}
.head .head-bg{background: url(../ossweb-img/head-bg.png) no-repeat;background-size:100% 100%;width: 5rem;height: 2.16rem;position: absolute;top: 0rem;right: 0rem;display: block;}
.head .swiper-container3 {width: 9.96rem;height: auto;margin: 0 auto;overflow: hidden;}
.head .swiper-slide {width:9.96rem!important;height:2.84rem;overflow: hidden;}
.head .swiper-slide img{width:9.96rem;height: 2.84rem;display: block;margin: 0 auto;}
.head .swiper-slide .btn-clock{color: #000000;font-size:.36rem;line-height: .6rem;width: 1.96rem;height: .6rem;display: block;background: #FFFFFF;border-radius: .4rem;text-align: center;position: absolute;left: 1rem;bottom: .2rem;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 .1rem;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: .2rem;}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{width: .6rem;height: .06rem;border-radius: .04rem;background:#FFFFFF ;}
.swiper-pagination-bullet-active{background:#FFFFFF ;}
/*.head .clock{background: url(../ossweb-img/bg-btn-clock.png) no-repeat;background-size:100% 100%;width: 9.96rem;height: 2.84rem;margin: 0 auto;position: relative;}
.head .clock a{color: #000000;font-size:.36rem;line-height: .6rem;width: 1.96rem;height: .6rem;display: block;background: #FFFFFF;border-radius: .4rem;text-align: center;position: absolute;left: 1rem;bottom: .2rem;}*/
.head .nav-box{width: 100%;height: auto;text-align: center;font-size: 0;padding-top:.5rem;position: relative;padding-bottom: .8rem;}
.head .nav-box a{display: inline-block;vertical-align: top;position: relative;color: #0f2128;font-size: .36rem;padding-top: 1.4rem;width: 2rem;text-align: center;line-height: .5rem;}
.head .nav-box a i{width: 1.26rem;height: 1.26rem;position: absolute;top: 0;left: .38rem;}
.head .nav-box .nav1 i{background: url(../ossweb-img/icon1.png) no-repeat;background-size:100% 100%;}
.head .nav-box .nav2 i{background: url(../ossweb-img/icon2.png) no-repeat;background-size:100% 100%;}
.head .nav-box .nav3 i{background: url(../ossweb-img/icon3.png) no-repeat;background-size:100% 100%;}
.head .nav-box .nav2{margin: 0 1.4rem;}



/*cont1*/
.cont1{width: 10.8rem;height: auto;margin: 0 auto;position: relative;padding-bottom: .7rem;}
.cont1 .btn-more{color: #7ddbed;font-size:.36rem;position: absolute;top: .36rem;right: .4rem;}
.cont1 .swiper-container1 {width: 10rem;height: auto;padding: 0 .4rem;}
.cont1 .swiper-slide {text-align: center;background: #fff;width:9.44rem!important;height:6.02rem;overflow: hidden;border-radius: .4rem;}
.cont1 .swiper-slide img{width:9.44rem;height: 4.02rem;display: block;margin: 0 auto;}
.cont1 .swiper-slide .txt{color: #0f2128;font-size:.42rem;line-height: .56rem;font-weight: bold;padding-left: .3rem;text-align: left;width: 4.6rem;　text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;padding-top: .2rem;}
.cont1 .swiper-slide .time{color: #a5a8aa;font-size:.4rem;line-height: .56rem;padding-left: .3rem;text-align: left;}
.cont1 .swiper-slide .time i{background: url(../ossweb-img/time.png) no-repeat;background-size:100% 100%;width: .5rem;height: .56rem;display: inline-block;vertical-align: top;}
.cont1 .swiper-slide a{width: 2.56rem;height: .94rem;position: absolute;right: .4rem;bottom: .74rem;font-size: .44rem;line-height: .92rem;text-align: center;color: #ffffff;}
.cont1 .swiper-slide .btn-order{background: url(../ossweb-img/btn-order.png) no-repeat;background-size:100% 100%;}
.cont1 .swiper-slide .btn-watch{background: url(../ossweb-img/btn-watch.png) no-repeat;background-size:100% 100%;}
.cont1 .swiper-slide .btn-enlist{background: url(../ossweb-img/btn-enlist.png) no-repeat;background-size:100% 100%;color: #2f2923;}

/*.cont2*/
.cont2{width: 10.8rem;height: auto;margin: 0 auto;position: relative;padding-bottom: .4rem;}
.cont2 .btn-more{color: #7ddbed;font-size:.36rem;position: absolute;top: .3rem;right: .4rem;}
.cont2 ul{width: 100%;height: auto;font-size: 0;text-align: center;}
.cont2 ul li{display: inline-block;vertical-align: top;width: 4.8rem;height:4.66rem;}
.cont2 ul li img{display: block;margin: 0 auto;width: 4.8rem;height: 2.86rem;border-radius:.4rem ;}
.cont2 ul li:nth-child(odd){margin-right: .34rem;}
.cont2 ul li:first-child img{background:#6ae5a7 ;}
.cont2 ul li:nth-child(2) img{background:#41c7ff ;}
.cont2 ul li:nth-child(3) img{background:#00d6ff ;}
.cont2 ul li:nth-child(4) img{background:#6ae88e ;}
.cont2 ul li .txt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width: 100%;text-align: left;}
.cont2 ul li .txt1{color: #0f2128;font-size:.44rem;line-height: .6rem;padding-top: .2rem;}
.cont2 ul li .txt2{color: #a1a4a6;font-size:.4rem;line-height: .6rem;}
/*.cont3*/
.cont3{width: 10.8rem;height: auto;margin: 0 auto;position: relative;padding-bottom: .5rem;}
.cont3 .btn-more{color: #7ddbed;font-size:.36rem;position: absolute;top: .3rem;right: .4rem;}
.cont3 .swiper-container2 {width: 10rem;height: auto;padding: 0 .4rem;}
.cont3 .swiper-slide {text-align: center;background: #fff;width:3.6rem!important;height:4.92rem;overflow: hidden;border-radius: .4rem;position: relative;}
.cont3 .swiper-slide a{width: 100%;height: 100%;display: block;position: absolute;top: 0;left: 0;z-index: 2;}
.cont3 .swiper-slide img{width:2.92rem;height: 2.92rem;display: block;margin: .34rem auto 0;border-radius: .18rem;}
.cont3 .swiper-slide .txt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width: 100%;text-align: left;padding-left: .3rem;box-sizing: border-box;}
.cont3 .swiper-slide .txt1{color: #0f2128;font-size:.44rem;line-height: .56rem;padding-top: .2rem;}
.cont3 .swiper-slide .txt2{color: #a5a8aa;font-size:.4rem;line-height: .56rem;}


/*.cont4*/
.cont4{width: 10.8rem;height: auto;margin: 0 auto;position: relative;padding-bottom: 1rem;}
.cont4>ul{width: 9.92rem;height: auto;margin: 0 auto;text-align: left;font-size: 0;background: #FFFFFF;border-radius: .4rem;padding-top: .4rem;padding-left: .14rem;box-sizing: border-box;}
.cont4 ul li{width:3.02rem;height: 1.18rem;display: inline-block;vertical-align: top;margin: 0 .1rem .4rem;}
.cont4 ul li img{width: 100%;height: 100%;display: block;}
/*.cont4>div .cooperate1{background: url(../ossweb-img/cooperate1.png) no-repeat;background-size:100% 100%;}
.cont4>div .cooperate2{background: url(../ossweb-img/cooperate2.png) no-repeat;background-size:100% 100%;}
.cont4>div .cooperate3{background: url(../ossweb-img/cooperate3.png) no-repeat;background-size:100% 100%;}*/

.cont4>div a.on{pointer-events: none; cursor: initial;}
/*foot-nav*/
.foot-nav{width: 10.8rem!important;height: 2.14rem!important;margin: 0 auto;position: fixed;bottom: 0;left: 0;background: #ffffff;font-size: 0;text-align: center;z-index: 99;}
.foot-nav a{color: #bdbdbd;font-size:.3rem!important;display: inline-block;vertical-align: top;width: 1.5rem!important;position: relative;padding-top: 1.2rem!important;}
.foot-nav a i{width: .7rem!important;height: .74rem!important;position: absolute;top: .24rem!important;left: .4rem!important;}
.foot-nav .btn-home i{background: url(../ossweb-img/home.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-home.on i{background: url(../ossweb-img/homeon.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-match i{background: url(../ossweb-img/match.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-match.on i{background: url(../ossweb-img/matchon.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-find i{background: url(../ossweb-img/find.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-find.on i{background: url(../ossweb-img/findon.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-my i{background: url(../ossweb-img/my.png) no-repeat;background-size:100% 100%;}
.foot-nav .btn-my.on i{background: url(../ossweb-img/myon.png) no-repeat;background-size:100% 100%;}
.foot-nav a.on{color: #1a1a1b;}
.foot-nav a:nth-child(2){margin: 0 1.2rem!important;}
.foot-nav a:nth-child(3){margin-right: 1.2rem!important;}
/*common*/
.title{color: #0f2128;font-size: .5rem;line-height: 1.4rem;padding-left: .4rem;}


/*弹窗*/
.dialog{position: relative;}
.dia1{width: 5rem;height: auto;}
.dia1 img{display: block;width: 4.32rem;height: 4.32rem;margin: 0 auto;}
.dia1 .dia-close{background: url(../ossweb-img/tc-close.png) no-repeat;background-size:100% 100%;width: 1.08rem;height: 1.08rem;position: absolute;bottom: -1.4rem;left: 1.96rem;}
.dia1 p{color: #FFFFFF;font-size: .46rem;line-height: 1rem;text-align: center;padding-top: .2rem;}

/*分享浮层*/
.s4_share {background-color: rgba(0,0,0,.8);position: fixed;top: 0;right: 0;height: 100%;width: 100%; z-index: 999999}
.fenx{width: 6.42rem; height: 5.22rem; position: absolute; right: 0.8rem; top: 0.4rem; background: url("../ossweb-img/share-pic.png") no-repeat;background-size: 100%;}

/*系统弹窗通用提示*/
.pop-ibox{width:100%;height: 100%;position: fixed;top:0;left:0;z-index: 9999;}
.pop-iflex{border-radius: 0.15rem;overflow: hidden;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.pop-iflex1{width:5.76rem;height:auto;padding:0.28rem 0;}
.pop-itext{font-size: 0.34rem;color: #ffffff;line-height: 0.58rem;position: relative;z-index: 5;text-align: center;}
.pop-ibg{width:100%;height:100%;background: #000000;opacity: 0.65;position: absolute;top:0;left: 0;z-index: 1;}
.pop-iflex2{width:3.48rem;height:1rem;}
.pop-iflex2 .pop-itext{line-height: 1rem;}
.pop-ity .pop-iflex{width:6rem;padding:0.28rem 0.28rem;}

/*登录*/
.pop-login{width: 10.22rem;height:7.94rem;background: url(../ossweb-img/pop-2.png) no-repeat center/cover;position: relative;}
.pop-login h3{font-size: .54rem;padding: 0;text-align: center;padding-top: 1rem;}
.popCen{text-align: center;margin-top: .86rem;}
.popCen a{display: inline-block;vertical-align: top;width: 3.5rem;height:3.5rem;text-align: center;margin:0 .14rem;border: 1px solid #e5e5e5;overflow: hidden;}
.popCen a img{display: block;width: 1.86rem;height: 1.86rem;margin: .48rem auto 0;}
.popCen a span{display: block;font-size: .4rem;color: #000;margin-top: .22rem;}
.pop .close {text-indent: -999em; position: absolute;width: .86rem;height: .86rem;background:url(../ossweb-img/btn-close.png) no-repeat; background-size: 100% 100%;left: 50%;bottom: -1.2rem;transform: translateX(-50%); outline: none;}
