/*reset*/
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,header,section,article,footer{margin:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif}
html{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
*,*:after,*:before{box-sizing: inherit;-moz-box-sizing: inherit;-webkit-box-sizing: inherit;}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
a{text-decoration:none} 
a:hover{text-decoration:none}
img{border:0}
ul,li{ list-style: none;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}
html,body{ width: 100%;background-color: #0e0e0e;}
html{box-sizing: border-box;}
.hid{text-indent:-9999px;font-size:0px;overflow:hidden;width:0px;height:0px;display:block}
.spr{background:url(ossweb-img/spr.png) no-repeat;}
.wrap{width: 100%;height: auto;font-family:'\5FAE\8F6F\96C5\9ED1';}
.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom: 1;}
body{padding-top: 42px !important;}
.content1{min-width: 1052px; height: 636px; background: url(ossweb-img/bg1.jpg) no-repeat 50% 0;overflow: hidden;}
.cont1{position: relative; width: 1052px; height: 636px; background: url(ossweb-img/bgs1.jpg) no-repeat; margin: 0 auto;overflow: hidden;}
.logo-box{height:61px;width:1000px;position:absolute; top: 58px; left: 50%;margin-left: -498px;text-align: center;}
.logo{background: url(ossweb-img/logo.png) no-repeat;width: 296px;height: 48px;display: inline-block;*display:inline; /* IE6、7 block 元素 */ *zoom:1;vertical-align: middle;float: left;}
.logo-djc{background: url(ossweb-img/logo-djc.png) no-repeat;width: 262px;height: 48px;display: inline-block;*display:inline; /* IE6、7 block 元素 */ *zoom:1;margin-left: 44px;vertical-align: middle;float: right;}
.login-box{position: absolute;top: 510px;right: 0;width: 100%; color: #3e3033; font-size: 20px; text-align: center;}
.login-box a{color: #3e3033;}
.act-time{position: absolute;top: 298px;left: 0; color: #f6e6d4; font-size: 24px; text-align: center;width: 100%;}
/* .logo-djc{position:absolute;top:34px;left:585px;width: 124px;height: 45px;} */


/*5月生日礼包*/
.content2{min-width: 1052px; height: 3174px; background: url(ossweb-img/bg2.jpg) no-repeat 50% 0;overflow: hidden;}
.cont2{position:relative; width: 1052px; height: 3174px; background: url(ossweb-img/bgs2.jpg) no-repeat; margin: 0 auto;overflow: visible;}	
.gifBox{width: 1052px; height: 616px;margin: 0 auto;}
.prop-box1{background: url(ossweb-img/bg-box1.png) no-repeat;width: 1052px;height:552px;overflow: hidden; margin: 0 auto; position: relative; }
.prop1-name{width: 1052px;height:378px;margin: 0 auto;text-align: center;}
.prop1-box{text-align:center;float: left;background: url(ossweb-img/bg-prop1.png) no-repeat;width: 216px; height: 262px;margin: 104px -12px 0;}
.prop1-box1{margin-left: 36px;}

.prop1-name p{white-space: nowrap;vertical-align: middle;text-align:center;width:100%;font-size: 14px; color: #f1e2e4;line-height: 24px; margin: -14px auto 0;text-align: center; overflow: hidden;}
.btn{display: block;height:102px;width:277px;margin: 0 auto;}
.btn.btn-get{background-position:0 0px;width:277px;height: 102px;}
.btn.btn-get:hover{
	-webkit-filter:brightness(1.1);
	-o-filter:brightness(1.1);
	-moz-filter:brightness(1.1);
	filter:brightness(1.1);
}
.btn.btn-got{background-position:-292px 0;width:289px;height: 110px;}
 
 /*神秘折扣专区*/
.discountBox{position:relative; background: url(ossweb-img/bg-box2.png) no-repeat;width: 1052px;height:1318px;}
.countdown{width:100%; height:48px; line-height:28px; font-size: 20px; color: #f1e2e4; text-align: center;margin-top: 88px;}
.countdown em{font-weight:bold; color:#515151;}
.discountBox .btn-discount{float: left; height:77px;width:183px;background-position:0 -221px;}
.discountBox .btn-discount:hover{
	/*vertical-align: middle;*/
	-webkit-filter:brightness(1.1);
	-o-filter:brightness(1.1);
	-moz-filter:brightness(1.1);
	filter:brightness(1.1);
}
.btn-box{width: 406px;height: 78px;margin: 0 auto;text-align: center;}
.discountBox .btn-record{float: left; margin-left:40px;height:77px;width:183px;background-position:0 -312px;}
.discountBox .btn-record:hover{
	/*vertical-align: middle;*/
	-webkit-filter:brightness(1.1);
	-o-filter:brightness(1.1);
	-moz-filter:brightness(1.1);
	filter:brightness(1.1);
}
.discountBox .refresh{width:1000px; height:76px;  font-size:20px; color:#e8d9db; line-height:42px; text-align:center;margin: 0 auto;}
.discountBox .prop-box2{width:828px; height:900px; margin:0 auto;}
.prop-box2 li{position:relative; width:312px; height:494px; float:left; margin:0 -18px 0; background:url(ossweb-img/bg-prop2.png) no-repeat top center;background-size: 312px 312px;     text-align: center;}
.prop-box2 li img{display: block;margin: 0 auto;}
.prop-box2 li:hover .fluid-txt{display:block;}   
.prop-box2 .fluid-txt{display:none;position:absolute;left:50%; margin-left:-176px; top:-216px; height:235px;width:348px;background: url(ossweb-img/bg-fc.png) no-repeat;z-index: 1;}
.prop-box2 .fluid-wraper{position:relative;display: table;width:90%;height:212px; margin: 0 auto;}
.prop-box2 .fluid-inner{*position:absolute; *top:50%; *left:50%; width:100%;color:#46383a;font-size:14px; text-align:center;display: table-cell;vertical-align: middle;}
.prop-box2 .fluid-inner p{position:relative; *top:-50%; *left:-50%;line-height:30px;}
.prop-box2 .prop-txt2{width: 85%;  text-align: center; font-size: 18px; color: #4d2913;overflow:hidden;margin: 0 auto;position: relative;left: 0;top: -108px;} 
.prop-box2 .price{position: relative;top: -38px;left: 0;width: 100%; height: 70px; margin:0 auto; text-align:center;}
.prop-box2 .original-price{width: 90%; height: 26px; line-height:26px; font-size: 18px;color: #f1e2e4;margin-bottom: 10px;text-decoration: line-through;margin: 0 auto;}
.prop-box2 .current-price{width:90%; height:32px; line-height:32px; font-size: 24px;color: #f1e2e4;margin: 0 auto;}	
.prop-box2 .current-price span{color: #f1e2e4;}
.prop-box2 .current-price strong{color: #f1e2e4;font-size:24px;font-weight:normal}
.prop-box2 .btn1{margin:0 auto ;display: block; height:93px;width:227px;position: absolute;top: 368px;left: 44px;}
.prop-box2 .btn-buy{background-position:0 -128px;}
.prop-box2 .btn-buy:hover{
	-webkit-filter:brightness(1.1);
	-o-filter:brightness(1.1);
	-moz-filter:brightness(1.1);
	filter:brightness(1.1);
}
.prop-box2 .btn-bought{background-position:-272px -128px;height:93px;width:232px;}

/*每日惊喜大礼*/
.surpriseBox{background: url(ossweb-img/bg-box3.png) no-repeat;width: 1052px;height:602px;margin:62px auto 0;}
.prop-box3{position:relative; width: 868px; height: 428px; margin:112px auto 0;text-align: center;}
.prop-box3 li{position:relative; width: 417px; height:412px;display: inline-block;*display:inline; /* IE6、7 block 元素 */ *zoom:1;}
.prop-box3 li.li-1{margin-right: 30px; background:url(ossweb-img/bg-prop3-left.png) no-repeat top center;}
.prop-box3 li.li-2{ background:url(ossweb-img/bg-prop3-left.png) no-repeat top center;}

.prop-box3 li:hover .fluid-txt{display:block;}
.prop-box3 .fluid-txt{display:none;position:absolute;left:50%; margin-left:-172px; top:-226px; height:235px;width:348px;background: url(ossweb-img/bg-fc.png) no-repeat;z-index: 1;}
.prop-box3 .fluid-wraper{position:relative;display: table;width:90%;height:212px; margin: 0 auto;}
.prop-box3 .fluid-inner{ *position:absolute; *top:50%; *left:50%; width:100%;color:#46383a;font-size:14px; text-align:center;display: table-cell;vertical-align: middle;}
.prop-box3 .fluid-inner p{position:relative; *top:-50%; *left:-50%;line-height:30px;}
.prop-box3 li.li-1 .discount{height:104px;width:104px;background: url(ossweb-img/icon-3.png) no-repeat; position: absolute;top: 10px;left: 17px;}
.prop-box3 li.li-2 .discount{height:104px;width:104px;background: url(ossweb-img/icon-2.png) no-repeat; position: absolute;top: 10px;left: 17px;}
.prop-box3 li img{display: block;margin: 0 auto;}
.prop-box3 .txt-lb{width: 85%; height:28px; margin:0 auto; line-height: 28px; text-align: center; font-size: 14px; color: #f1e2e4;overflow:hidden;} 

.prop-box3  .price{width: 100%; height: 40px; margin:0 auto; text-align:center;}
.prop-box3 .original-price{text-decoration: line-through;float: right; width: 44%; height: 20px; line-height:20px; font-size: 16px;color: #f1e2e4; margin-right: 8px;text-align: right;}
.prop-box3 .current-price{float: right; width: 50%; height:20px; line-height:20px; font-size: 16px; color: #FFFFFF;margin-left: 8px;text-align: left;}	
.prop-box3 .current-price span{color: #f1e2e4;}
.prop-box3 .current-price strong{font-weight: 100;color: #f1e2e4;}

/*.prop-box3  .price{width: 100%; height: auto; margin:0 auto; text-align:center;}
.prop-box3  .original-price{width: 100%; height: 31px; line-height:28px; font-size: 16px; color: #684509; text-decoration:line-through;text-align: center;}
.prop-box3  .current-price{width: 100%;height:40px; line-height:55px; font-size: 20px; color: #926a13; text-align: center;margin-top: 50px;font-weight: bold;}*/
.prop-box3 .btn1{margin: 28px auto 0; display: block;height:93px;width:227px;}
.prop-box3 .btn1.btn-buy{background-position:0 -128px;}

.prop-box3 .btn1.btn-buy2:hover{
	-webkit-filter:brightness(1.1);
	-o-filter:brightness(1.1);
	-moz-filter:brightness(1.1);
	filter:brightness(1.1);
}
.prop-box3 .btn1.btn-buy2on{background-position:-272px -128px;height:93px;width:232px;}


/*活动规则*/
.ruleBox{width: 1000px; height: 518px; padding-top: 68px;}
.rule-box {width: 100%; margin: 0 auto;}
.rule-box li{width: 100%;position: relative;}
.rule-box span{font-size: 18px;display: block;height:25px;width:25px;color: #b4a1a5;float: left;background: url(ossweb-img/icon-order.png) no-repeat;line-height: 25px;text-align: center;margin-top: 6px;}
.rule-box p{width:90%;margin-left: 32px; font-size: 18px; line-height: 36px; color: #b4a1a5;} 

/*title*/
/*.title{height:121px;width:559px;}
.title.title-1{background-position:0 -608px;margin: 0 auto 40px;}
.title.title-2{background-position:0 -786px;margin: 0 auto;}
.title.title-3{background-position:0 -970px;margin: 53px auto 43px;}*/
.title.title-4{background-position:-342px -277px;margin-bottom: 26px;height:42px;width:189px;}


/*道具城二维码*/
.sid {
    width: 208px;
    height: 208px;
    background: url(ossweb-img/bg-ewm.png) no-repeat;
    position: fixed;
    top: 250px;
    right: 15px;
    z-index: 99;
}
.sid p{    font-size: 20px; color: #8a3614; line-height: 22px; text-align: center;padding: 20px 14px;}
.sid img{ width: 200px;height: 200px;display: block;margin: 4px auto;}
.sid-btn2 {width: 41px; height: 41px; display: block; position: absolute; top:220px; right: 84px; background:url(ossweb-img/btn-close.png) no-repeat; }


/*afooter*/
#afooter{text-align:center; line-height:20px;color: #9a9a9a;background-color: #0e0e0e;padding: 20px 0;}
#afooter a{ color: #9a9a9a;}
body{padding-top: 45px;}
.dialog1{height:648px;width:892px;background:url(ossweb-img/bg-tc.png) no-repeat;background-size: 100%; position: relative;}
.dia-close{height:40px;width:40px;background:url(ossweb-img/close.png) no-repeat;background-size: 100%; display: block; position: absolute; top: 68px; right: 52px; }
/*.dialog1 .dia-s1{font-size: 24px; color: #fff; line-height: 80px; height: 80px; text-align: center; background: #2aceff}*/
.dialog1 .dia-con{padding: 140px 0 0 0;}
.dialog1 .tab{width: 760px; margin: 0 auto;}
.dialog1 .tab tr th{line-height: 60px; font-size: 22px; color: #fee4b8; height: 60px; text-align: center; font-weight: bold; /*border-bottom: solid 1px #d5d7df;*/}
.dialog1 .tab tr td{font-size: 18px; color: #e8d9db; line-height: 36px; text-align: center;}
.dialog1 .tab tfoot tr td{height: 60px; line-height: 60px; font-size: 22px;}
.dialog1 .tab input{width: 44px; height: 24px; border: solid 1px #fff; background: #365bad; text-align: center; color: #e8d9db}
.dialog1 .tab a{color: #e8d9db; text-decoration: underline; margin: 0 10px;}



